[2018-09-11 06:59] aroffringa opened #1 "Replace assert statements with exceptions"
The code currently has many "assert(..)" statements, that in most cases seem to catch user errors (e.g. things like a missing parmkey value). assert statements should only be used for catching code bugs by the developer, since asserts are not enabled in a release build. When user errors happen, an exception should directly be thrown instead.

[2018-09-11 11:55] aroffringa opened #2 "Enable tests"
Because the tests depend on the LOFAR CMake macros, they have been disabled for now. They should be changed to work within the new environment (possibly with some rewritten existing macros from LOFAR? Or using a new testing platform?)

[2018-09-12 08:21] aroffringa opened #3 "Make predict use a thread pool"
Predicting multiple directions is currently really slow because it uses a nested OpenMP for loop over i) direction; and ii) sources. When more than one direction is used, the second loop doesn't get multi-threaded anymore. In my case, I have 3 directions with ~100, 100 and 2000 sources, and because of this I have to wait forever. It's not hard to implement a parallel for loop with a thread pool, w

[2018-09-12 13:47] aroffringa opened #6 "Thread pool won't take requested cpu count into account"
Easy to fix by adding some methods to ThreadPool, but not a priority for now.

[2018-09-13 10:44] #3 closed

[2018-09-13 10:45] aroffringa opened #8 "Let 'make install' work"
No install targets are currently given. Preferably they should be installed in such a way that the steps which are provided by a separate lib are automatically found as well.

[2018-09-13 14:57] aroffringa opened #9 "Make h5parmpredict work with fulljones corrections"
Even though the prediction inside h5parmpredict is done with the predict step, which understands the fulljones correction, h5parmpredict opens the given tab to read the directions etc. and doesn't take fulljones into account.

[2018-09-14 15:34] aroffringa opened #10 "Turn onebeamperpatch off by default"
On is too dangerous.

[2018-09-15 09:01] aroffringa opened #11 "Disable OMP parallelization in Simulator"
Now that the threadpool is used, it turns out there was an extra `#pragma omp parallel` for in the Simulator. Since this used to be a nested omp loop, it had no effect, but now that the threadpool takes care of the parallelization, omp does parallelize this loop and starts a new group of threads in each threaad, giving rise to 48^2 threads on my 48 core machine.

[2018-09-15 09:30] tammojan opened #12 "Override writedata / writeflags / writeweights in output"
It could be useful to disable updating the data column (or flag, or weights). A use case for this would be to apply a rough bandpass before flagging. After that the flags would need to be stored, but not the data with this bandpass (which could be calibrated later).

Could be trivially implemented by adding a parsetkey `msout.writedata` which would override `itsWriteData` in MSUpdater.cc (similarl

[2018-09-15 16:49] tammojan opened #14 "Linear interpolation in ApplyCal H5Parm"
ApplyCal now uses nearest neighbor interpolation. Linear interpolation should be better in many cases. Care should be taken when interpolating phases.

[2018-09-15 18:01] #11 closed

[2018-09-15 20:28] tammojan opened #16 "Make applycal.correction key consistent for h5parm / parmdb"
It would be nice if the key `applycal.correction` takes just the effect name. Currently, for H5parm, it expects the name of the soltab. In the new behavior, applycal would look for any soltab with the given correction. If there is more than one soltab with the given effect, Applycal should look at a new key `applycal.soltab` or give an error if it is not specified.

Extra user service would that `

[2018-09-16 06:48] #9 closed

[2018-09-16 17:56] tammojan opened #18 "SourceDB: use projected NCP for gaussian position angle"
In the current definition of SourceDB, the position of Gaussians is defined as North over East. Here, North refers to the NCP. However, in both PyBDSF and DPPP, this is effectively interpreted as the 'up' direction in the image, which corresponds to the NCP direction in the phase center. This means that for sources far from the phase center, the position angle is wrong.

This could be fixed by com

[2018-09-16 18:08] tammojan commented on #18
It has been known for quite a while that this is an issue, given the comment (from 2012) in [Simulator.cc](https://github.com/lofar-astron/DP3/blob/master/DPPP/Simulator.cc#L176):
[code]

[2018-09-17 07:15] tammojan opened #19 "Model visibilities not flagged in gaincal / ddecal"
Currently, GainCal and DDECal assume that model visibilities are always good. However, when using 'pre-apply' (i.e. corrupting the model visibilities with solutions from h5parm), flagged solutions may introduce bad model data. This should be propagated into DDECal and GainCal.

[2018-09-17 07:37] darafferty commented on #18
Indeed -- I think Joris (van Zwieten) looked into it and concluded it was nontrivial to transform a Gaussian on the uv-plane to the celestial sphere. I forget the details, but we basically concluded that it was not worth the effort (whether this was the correct conclusion is another matter...).

[2018-09-17 07:44] tammojan commented on #18
Thanks David. I think Pandey has also looked into this, I will ask him for the status.

I think the solution might be easier than Joris thought. The fact that we model using a Gaussian introduces errors already. In particular, this approximation is projection dependent. So there is no way to do this really field agnostic. The idea here is to 'just' fix the position angle and leave all other projec

[2018-09-17 07:49] darafferty commented on #18
Ah, I see -- I think that is the right approach (and you're correct, it should be addressed).

[2018-09-17 07:54] aroffringa commented on #18
I believe Sagecal does that transformation; it might be as easy to copy-paste that part from Sagecal :)

[2018-09-18 08:52] #6 closed

[2018-09-18 14:54] darafferty opened #22 "XX is outside 4-byte uint range"
When trying to do an averager step with freqstep=6, I get the error "6 is outside 4-byte uint range". I traced the message to line 385 of https://github.com/lofar-astron/DP3/blob/master/Common/StringUtil.cc. Changing the `<` to `>` fixed it, but I'm not sure this is really the correct fix.

[2018-09-18 14:57] tammojan commented on #22
Could it be that the 6 you typed is actually a nasty Unicode character way up in the unicode table? Or perhaps you surrounded it by curly quotes?

[2018-09-18 14:59] aroffringa commented on #22
No, I converted an assert incorrectly. The fix by @darafferty is correct, I'll create a pull request.

[2018-09-18 15:04] aroffringa commented on #22
Push request is there :). Thanks for the detailed report, @darafferty !

[2018-09-19 14:49] #22 closed

[2018-09-20 08:29] #8 closed

[2018-09-20 10:11] #10 closed

[2018-09-21 09:36] aroffringa commented on #19
Isn't it that this should be propagated, period? (i.e. this is not specifically DDECal or GainCal). Is outputting a NaN for visibilities that have no solution good enough?

Of course the visibility could also be flagged, but this cause repeated calibration from e.g. DATA column to CORRECTED_DATA to continuously flag more data, which is not intuitive (nor desirable).

[2018-09-23 07:57] aroffringa opened #25 "Subtract model in DDECal"
Having one step which can do everything will save quite a lot of processing time, also since DDECal can predict multi-threaded, while h5parmpredict predicts sequential.

[2018-09-25 07:47] darafferty opened #27 "Segfault in DDECal solve"
I am getting a segfault when doing a DDECal solve with the following command:

`DPPP msin.datacolumn=DATA solve.propagatesolutions=True solve.sourcedb=calibration_skymodel.make_sourcedb numthreads=6 msin.starttime="09Dec2016/00:09:21.076" solve.solint=1 solve.mode=tec solve.maxiter=50 solve.type=ddecal steps=[solve] solve.tolerance=0.0001 msin=chunk2.ms solve.nchan=1 solve.stepsize=0.2 solve.smoot

[2018-09-25 07:51] aroffringa commented on #27
Thanks! Hmm your fix _should_ not do anything, as pool->NThreads() should be initialized to OpenMP::maxThreads() in the more recent version of DPPP. This was not the case before #6 was fixed though, so could it be that you were/are using a version from before that fix? Otherwise I've introduced apparently another bug somewhere.

[2018-09-25 08:08] aroffringa opened #28 "Make DPPP compile without LOFAR beam"
I'm actually trying DPPP on MWA data, but it is a bit of an issue to compile the LOFAR repository on MWA nodes

[2018-09-25 08:14] darafferty commented on #27
It was with the latest master -- I put the files on ftp.hs.uni-hamburg.de/pub/outgoing/rafferty so that you can try (sorry, the MS is rather large).

[2018-09-25 14:59] #28 closed

[2018-09-25 15:32] aroffringa commented on #27
Hi @darafferty , I downloaded your data and can reproduce it. Your fix seems okay. However, I don't understand why it is necessary and would like to: @tammojan it looks like `OpenMP::maxThreads()` has returned a higher value in DDECal (where the threadpool is created) than it does return later on in Predict. It crashes when ThreadPool launches the seventh thread, while openMP at that point returns

[2018-09-25 17:37] tammojan commented on #27
This should not be possible. `OpenMP::maxThreads` simply calls `omp_get_max_threads` which in turn returns the global state from the openmp libraries. This is initially the number of cores, but it is changed by DPPP in DPRun ([here](https://github.com/lofar-astron/DP3/blob/master/DPPP/DPRun.cc#L135)), a few lines before any step objects (in particular DPPP_DDECal objects) get created.

[2018-09-26 01:07] aroffringa commented on #27
Ok thanks, I'll debug this to see what's going on

[2018-09-26 01:12] aroffringa commented on #27
Hmm I changed maxThreads() to this:

`
    inline uint maxThreads()
    {
      std::cout << "maxThreads=" << omp_get_max_threads() << '\n';
#ifdef _OPENMP
      return omp_get_max_threads();
#else
      return 1;
#endif
    }
`
and it shows:

Something must be resetting `maxThreads`...

[2018-09-26 05:09] aroffringa opened #31 "Setting startchan when updating column writes wrong channels"
MWA datasets are large and need to be split up by channel and processed by running DPPP several times. This should in principle be possible with the `msin.nchan` and `msin.startchan` parameters, however due to a bug MSUpdater does not actually use offset the channels at the proper index. This is because the MSReader never sets `startchan` in the MSInfo object, only `nchan`.

[2018-09-26 11:47] darafferty commented on #27
I have another segfault, but I'm not sure it's related to the one above. With the same MS file and sky model as above, I get the segfault with this command:

[code]

For what it's worth, gdb seems to say the problem is in `SmoothnessConstraint::Apply()`:

[code]

[2018-09-26 14:46] aroffringa commented on #27
Thanks, you're putting in good effort to break DP3 :)

Your second issue was a problem in passing the weights around by DDECal by @tammojan : during the `finish()` call DDECal would call the solver without updating the weights used by the constraints.
I've committed this in branch rafferty-nthreads-segfault2 , commit b4348cc2cae24678bc1ec819858c5c30592899a6 .

More general, the problem with OpenMP

[2018-09-26 15:05] shulevski opened #33 "Applying the beam in ddecal results with NaN entries in the solution database"
Setting `usebeammodel=true` in a DDE solve results in an H5 solution file having NaN entries for some values. The h5parmpredict (subtract) then results in sources not being subtracted. Doing the subtraction using DI predict (subtract) seems to work however.
This is the case when working with AARTFAAC data sets, I have not verified whether it happens for LOFAR data.

[2018-09-26 16:30] aroffringa commented on #33
Is this related to `usebeammodel`, or is that just accidentally? NaNs can happen when things don't converge -- you probably want to change settings if that happens...

[2018-09-26 18:15] shulevski commented on #33
When `usebeammodel=false`, there are no NaN values, all of the other settings are identical.

[2018-09-27 12:04] #31 closed

[2018-09-28 10:05] tammojan opened #38 "DPPP_AOFlag MemoryMax on concatenated MSs"
It seems that on measurement sets that have been concatenated in frequency, the memory settings of DPPP_AOFlag are computed based on only one of the MSs. My suspicion is that in the following [line](https://github.com/lofar-astron/DP3/blob/master/DPPP_AOFlag/AOFlaggerStep.cc#L142), `infoIn.nchan()` is computed from one of the MSs, not on the total concatenated thing:
[code]

As reported by @adrabe

[2018-10-01 08:37] gijzelaerr opened #39 "Unknown CMake command "lofar_add_package""
[code]

[2018-10-01 08:40] tammojan commented on #39
The releases of this project are the historical releases when DPPP was part of the LOFAR suite (which defined CMake macros globally). There are no releases yet which build stand-alone.

[2018-10-01 08:40] aroffringa commented on #39
What version are you using and which file is cmake complaining about? If I do this I don't get any hits:

    $ grep lofar_add_package `find|grep CMakeList`
    $

[2018-10-01 08:42] gijzelaerr commented on #39
ah, i'm using the latest release. i'll try the master branch.

[2018-10-01 08:42] tammojan opened #40 "Initial release?"
How about making an initial release of the stand-alone distribution so that packaging can be tested (see #39)?

[2018-10-01 08:44] aroffringa commented on #40
Yeah that would be useful, but it might be good to solve #27 first, which requires some testing of pull request #37 .

[2018-10-01 08:44] #39 closed

[2018-10-01 08:51] gijzelaerr commented on #39
yep, not an issue on master.

[2018-10-01 08:51] gijzelaerr opened #41 "hdf5 libs missing?"
cmake can't find hdf5, but i have hdf5 installed (`libhdf5-dev` package).
[code]

[2018-10-01 08:55] aroffringa commented on #41
I think this is an error in the Hdf5 CMake file, I've seen it too, but it only appears when you do a DEBUG build; Is that what you want? Kern would be better of with a RELEASE build...

[2018-10-01 09:07] gijzelaerr commented on #41
setting the build type to release doesn't seem to solve the problem (`-DCMAKE_BUILD_TYPE=release`)

[2018-10-01 09:11] gijzelaerr commented on #41
By the way, I'm also making debug packages for all packages which contain the debugging symbols and which can be installed separately to simplify debugging.

[2018-10-01 09:29] gijzelaerr commented on #41
Works for me!

[2018-10-01 09:33] #41 closed

[2018-10-01 09:40] gijzelaerr commented on #40
please use a version that is higher than 3.1.7 to make sure automated updating tools work properly.

[2018-10-01 09:47] gijzelaerr commented on #41
uploaded to KERN-dev

https://launchpad.net/~kernsuite/+archive/ubuntu/kern-dev/+build/15500206

[2018-10-01 10:11] gijzelaerr opened #43 "shared library SOVERSION missing"
For the lofar software I manually patched that for a while:

https://github.com/kernsuite-debian/lofar/blob/master/debian/patches/soversion

Would be nice if this finally lands upstream.

[2018-10-01 19:28] revoltek opened #44 "DPPP doesn't write flags in h5parm"
Some combinations of solver+mode do not properly handle flags (i.e. the solver doesn't write any flag). So far I noticed it in DDE+diag and in DIE+fulljones. A check of all modes in both solvers should be done to be sure that flags are always properly saved in h5parms.

At the same time, it would be good to also check if applycal properly propagates all flags back to the MS, this was not the case

[2018-10-01 19:46] revoltek opened #45 "Spikes in predicted MODEL_DATA"
I did a predict and this is the MODEL_DATA column, I am surprised too see all these spikes and a generally non-smooth behavior. This is the parset I used (note the predict was on all concatenated SBs):

 MSReader selecting baselines ...
MSReader
  input MS:       /data2/fdg/bootes_sparse/tgts/mss/TC00.MS
  baseline:       [CR]S*&
  band            0
  startchan:      0  (0)
  nchan:          976

[2018-10-02 03:07] aroffringa commented on #45
I can't reproduce this. Are you plotting an integral over frequency? If so, the non-smooth behaviour might just be because flagged samples (due to RFI) might have caused sporadically missing samples, and integrating over frequency (or any other dimension) might show jumps because of that. Since the non-smoothness seems to correlate strongly in time, that seems a likely explanation.

It might be a

[2018-10-02 03:10] aroffringa commented on #45
Just to show, this is what I get with latest DPPP:
![image](https://user-images.githubusercontent.com/11645549/46327331-62397600-c601-11e8-8b27-7d0b95967159.png)

[2018-10-02 03:12] aroffringa commented on #44
What do you mean with flags in h5parm: solution with zero weight or NaN value?

[2018-10-02 03:29] aroffringa commented on #38
I did a bit of analysis:

- MultiMSReader calls `info().setNChan (itsNrChan)` correctly inside `updateInfo()`
- AOFlagger calculates memory inside its `updateInfo()`
- The info is propagated from earlier steps to later steps by `DPStep::setInfo()`
- MultiMSReader is the first step (DPRun.cc:285)

So this seems to me that this is calculated all correctly. The memory usage is just a guess though, so

[2018-10-02 03:31] aroffringa commented on #33
Can you provide a small testset/scenario? This is at this point a bit too vague of a problem to analyse.

[2018-10-02 03:31] aroffringa commented on #43
I'm not sure what you want, but I'm happy to apply a patch.

[2018-10-02 07:49] gijzelaerr commented on #43
basically, just the SOVERSION needs to be set for all library products. For historical reasons, it is probably best to start numbering at 2. I'm not sure if this patch applies cleanly, i'll have a look later today.

[2018-10-02 09:27] revoltek commented on #44
The problem is that flagged solutions are (in certain cases) set to nan in the h5parm but the corresponding weights is !=0

[2018-10-02 09:43] shulevski commented on #33
I think that this issue can be closed. Above, I commented based on my previous conversation with Tammo Jan who found that all solutions have NaN values then doing a DDE solve. I was using an older version of DPPP then, and I don't know which DPPP version he used. I have updated the DPPP now and I don't see that the solutions are flagged. This is assuming I can trust LoSoTo (output follows):
[code]

[2018-10-02 09:43] #33 closed

[2018-10-03 10:03] #43 closed

[2018-10-03 14:08] #27 closed

[2018-10-03 14:55] revoltek commented on #44
hum, that is something to discuss, I agree. But it would require some major change in the way h5parms are used. So fare we have always assumed that weight=0 is a flagged data. Now to use dppp-generated h5parms we need to manually set to weight=0 those nans.

[2018-10-03 15:35] aroffringa commented on #44
Sure it would be good / I'm happy to make things somewhat more consistent. But in any case, I think that both a NaN and weight=0 should imply that the solution is flagged -- I think that makes sense in any case, and it should be easy to adapt Losoto to that concept, isn't it?

[2018-10-04 09:11] revoltek commented on #44
I've updated the H5parm_collector to set weight=0 for nans as a temporary workaround. I understand the point of keeping the weights also for flagged data, this would also speed up some operations as the weights would became essentially unused in most operations and fetching the data would fetch also the flags. But if we change this thing we need a coordinated effort and a new release of losoto.

[2018-10-04 09:57] tammojan commented on #44
I'm not aware of the logic that André mentions. So I would be surprised if this is the logic that I implemented. In my view, flag==0 and weight==NaN is exactly the same.

[2018-10-04 12:41] revoltek commented on #44
weights is always != NaN, data can be == NaN. The main difference is that now when data == NaN also weight == 0. In the logic Andre' suggested this might not be the case. For losoto this implies some work to do as flags would be np.where(data==nan) and not np.where(weights==0). I must say that insofar we have no use whatsoever of the weights in the solutions (and no plans to use them in the short

[2018-10-04 12:43] aroffringa commented on #44
I'm not sure we are all talking about the same things. What @revoltek implemented as what he calls the "temporary workaround" seems fine to me and more or less what I suggested: both zero weight and NaNs are to be considered as flagged samples by Losoto. The weights might currently be not so used, but I think they could definitely be useful for certain things (fitting things within Losoto would pr

[2018-10-04 13:37] revoltek commented on #44
The workaround I've now works if the h5parm goes through the collector, which is not always the case. I think we need a more definitive+clean solution. But I need to know how you decide to harmonize dppp behavior.

[2018-10-05 00:47] aroffringa commented on #44
I think the definitive solution is to always assume that solutions might be NaN. While I could change DPPP to always set weight=0 when storing a NaN, there could be usecases that this is not desirable.

[2018-10-05 09:54] revoltek commented on #44
Then dppp needs to always put nans for flagged data, is it currently the case? If it is I will put as losoto3 milestone to have flags implemented in this way.

[2018-10-05 09:57] aroffringa commented on #44
DPPP doesn't do that, and it's not necessary either; if you just assume that both a zero weight and a NaN implies bad data, then that works. That way, we can reserve them for having different meanings.

[2018-10-05 11:57] revoltek commented on #44
Conclusion: DPPP needs to harmonize the output of weights+data across the different operation. Both nans and weights=0 are "flags" with different meanings.

[2018-10-06 12:58] #25 closed

[2018-10-08 10:14] adrabent commented on #38
Nevertheless, it does not work correctly, if concatenating in frequency, it only sees as if there would be only one subband.
Especially, if someone concats 100 SBs or more in frequency the difference of the used memory is enourmous and leads to very long processing times.

[2018-10-08 12:17] aroffringa commented on #38
Okay, thanks for the report. I'll have a look!

[2018-10-09 05:06] aroffringa opened #56 "Python install script doesn't compile on Galaxy"
On Galaxy (one of the cluster of the Pawsey computer centre), there's no boost python. This is fine, but it seems that the python install scripts don't handle a missing boost python properly:

[code]

Just removing the python install things from line DPPP/CMakeLists.txt:27 fixes this, but obviously doesn't install pythondppp anymore.

[2018-10-09 05:13] aroffringa opened #57 "Make DP3 buildable without Armadillo"
CMake disables DDECal when armadillo is not found, but this results in undefined references:

Since only the ionospheric screen fitting depends on armadillo, it's probably best to only skip building that instead of DDECal entirely.

[2018-10-11 12:25] gijzelaerr opened #59 "unnecessary linking for usr/bin/DPPP"
Not a major issue
[code]

[2018-10-11 13:12] gijzelaerr commented on #43
hm, i don't see any shared libraries being installed anymore? Was i confused?

[2018-10-11 13:33] aroffringa commented on #59
Unfortunately whether these things are required on how aoflagger was exactly linked (and also on what platform it was compiled), so they cannot be removed.

[2018-10-11 13:34] aroffringa commented on #43
No, we now compile them right into DP3, because some platforms wouldn't load the dynamic libraries under certain circumstances, but we did not do that yet before.

[2018-10-12 02:01] #59 closed

[2018-10-12 02:02] aroffringa opened #60 "Add keywords that describe how beam is applied"
This is really necessary to avoid people apply incorrect beams (i.e. fuil instead of differential), which I unfortunately see happening a lot!

[2018-10-12 10:51] tammojan opened #61 "Need to close HDF5-file?"
As reported by Neal:

[2018-10-12 10:51] tammojan commented on #61
A workaround seems to be in /home/jackson/scripts/loop3A.py on CEP3

[2018-10-12 14:28] aroffringa commented on #61
I don't see in that file any workaround (and a bit more specific would be nice...). I have looked at the hdf5 code and I don't think it's possible that the file remains open when dppp finishes normally. The H5File destructor always closes the file, and e.g. in GainCal it is on the stack, so always destructed. I think this is just an oddity of H5, or maybe there are h5 version mismatches on Neil's

[2018-10-14 02:28] aroffringa commented on #38
I've did further analysis, and the calculation referred to by @tammojan is done correctly, so that's not the problem. For example, with one subband I see it calculates this:

While with two I see this:

@adrabent what exactly do you call enormous use of memory -- does it take much more than what you allocate it? (AOFlagger is supposed to use _all_ of the memory in the machine, so you can't run mul

[2018-10-14 09:43] #56 closed

[2018-10-14 09:44] #57 closed

[2018-10-15 08:30] aroffringa commented on #38
Hmm there hasn't been a mention of "virtual" concatenation yet... I was concatening in MSSS, with msin=[multiple mses.]. How do you make a virtually concatenated set? It might be that the format of such sets is just incorrect, but I'll have a look (if you can tell me how to make one...)

The "using 31 GB" means there's 31 GB in my machine, which shouldn't change when the nr of channels changes.

[2018-10-15 08:34] adrabent commented on #38
Virtual concat is done in that way:

`import pyrap.tables as pt`
`pt.msconcat(list_of_input_ms, output_ms)`

[2018-10-15 09:02] aroffringa commented on #38
Thanks for that. I've created a virtually concatenated set and notice it is concatenated by introducing spectral windows. I don't think DPPP supports that at all, but @tammojan might be able to tell you if this is correct.

In any case, flagging a virtually concatenated set probably has little advantages over flagging the individual measurement set, because the flagger can't actually look over the

[2018-10-16 12:54] darafferty opened #65 "DDECal: large fraction of solutions flagged"
I am testing DDECal (latest master) within Factor (using a single direction), and am getting >99% solutions as flagged (weight = 0). I noticed that the number of iteration is very low. E.g.,

[code]

I used the following parameters:

[code]

I tried changing the tolerance and stepsize but got similar results. The sourcedb and MS file are at ftp.hs.uni-hamburg.de/pub/outgoing/rafferty in case they'

[2018-10-16 13:00] rvweeren commented on #65
I also just noticed this. (this happened in the latest svn trunk version) suggesting the problem already existed for a while. For my August 31 build things work fine. So something happened after that.

[2018-10-18 08:41] aroffringa commented on #65
Ok that's an issue! I did some changes to how vis weighting are propagated and how convergence is tested, I probably caused a bug there -- because of business & travel, and the large nr of changes to DP3 recently, I haven't always properly tested it. Thanks for the testdata, I'll have a look. For now best to use an older version then?

[2018-10-18 08:44] #38 closed

[2018-10-18 08:44] aroffringa commented on #61
I'm closing this, as I can't reproduce any issue.

[2018-10-18 08:44] #61 closed

[2018-10-18 16:25] tikk3r opened #66 "Segmentation fault on just "DPPP""
I just tried to build it in Leiden and I get a segfault when running just `DPPP`. Other things like `DPPP -v` (returns DPPP 0.0), `DPPP -h` and a simple `DPPP msin=ms1.ms msout=ms2.ms steps=[]` all seem to work though (haven't used it on heavier tasks yet).

[2018-10-19 01:19] aroffringa commented on #66
I can't reproduce this, it turns fine for me. Also a valgrind with only the DPPP command doesn't show any incorrect mem access. It might have to do with environment or setup.

[2018-10-19 06:19] aroffringa commented on #65
I've found the issue; it was caused by NaNs in the data that due to some restructuring for #49 were no longer properly set to zero before they were used in calculations. Merge request #67 will solve this, the error was introduced in 8ee62bf3de255acbb59b70108588cbbb7deea97d .

[2018-10-22 09:11] tikk3r commented on #66
Yes of course, thanks for the tip. I will poke around a bit more to see if I can find something.

[2018-10-22 10:33] #66 closed

[2018-10-26 21:59] rvweeren opened #68 "taking out the beam on phase shifted data"
I phase shifted my data almost to the FWHM of the station beam. Then I want to take out the beam (array_factor since the original data was already corrected in the phase center with the element beam) like this:

NDPPP msin=phaseshifted.ms msout=out.ms steps=[ab] ab.type=applybeam ab.usechannelfreq=true ab.beammode=array_factor ab.updateweights=true

As I understand things, NDPPP now should take ou

[2018-11-01 10:11] darafferty opened #69 "Predict problem? (std exception detected: Invalid argument)"
When trying to predict A-team models (in Prefactor), I get the error "std exception detected: Invalid argument" with the following command:

`DPPP msin.datacolumn=DATA predict.sourcedb=Ateam_LBA_CC.make_sourcedb_ateam predict.type=predict predict.sources="[VirA_4_patch,CygAGG,CasA_4_patch,TauAGG]" numthreads=2 predict.usebeammodel=True steps="[predict]" msin=L658738_SB198_uv.ndppp_prep_target msou

[2018-11-01 12:33] aroffringa commented on #69
I can't reproduce it -- In fact I can't even find where an "Invalid argument" exception could be thrown.

Could you run it inside gdb to see where it throws the exception?

[2018-11-01 12:42] darafferty commented on #69
It's really strange -- this time I get a segfault and adding the dummy arg gives the former error. At any rate, here is the gdb output for the segfault case:

[code]

[2018-11-01 12:43] darafferty commented on #69
When I add the dummy arg, I don't get much from gdb (sorry, my knowledge of gdb is rather limited, as you probably guessed):

[code]

[2018-11-01 13:00] darafferty commented on #69
Ah -- I just realized I compiled and ran DPPP on different nodes, so maybe it has something to do with that. I'll recompile and test on the same node to make sure it's not due somehow to differences between the nodes...

[2018-11-01 13:00] aroffringa commented on #69
Thanks a lot! The first gdb print was enough to probably localize the issue. There was an unitialized variable, which can at random runs cause trouble while do nothing in other runs, hence the weird behaviour. Could you try the branch `uninitialized-mutex-bug`  ?

(fyi, you can stop op an exception with typing 'catch throw' in gdb before starting the run -- otherwise the exception is caught by the

[2018-11-01 13:12] darafferty commented on #69
Darn -- I recompiled and now I can't reproduce the problem! (Which is good in a way, but not helpful for testing your fix :) ). I'll try to get back to the state I had before...

[2018-11-01 14:03] darafferty commented on #69
OK -- I did finally get back to the old state, and so can reproduce the problem. I compiled the master, but will try the branch now.

[2018-11-01 14:08] darafferty commented on #69
Yep -- that seems to have fixed it!

[2018-11-01 14:17] aroffringa commented on #69
Thanks for testing!

[2018-11-02 23:18] tammojan opened #71 "Open HDF5 read-only for applycal"
In the file H5Parm.cc line 18:
[code]

I think this can be fixed by replacing the whole line with the condition with
`forceNew?H5F_ACC_TRUNC:H5F_ACC_RDONLY`

[2018-11-04 10:53] revoltek opened #72 "Add leakage solver"
It would be nice to make some tests on solving leakage. What is missing is a solver that can minimize a matrix like (1, a; b, 1).

[2018-11-04 11:03] aroffringa commented on #69
Fixed with pull request #70 .

[2018-11-04 11:03] #69 closed

[2018-11-04 11:58] rvweeren commented on #68
I currently use https://github.com/revoltek/losoto/blob/master/losoto/operations/lofarbeam.py as a workaround (losoto computes the array_factor (via lofar.stationresponse) at the location of the current phase center and then losoto fills a H5 solutions file with the "beam gains", this h5 can then be applied with dp3)

Regarding the "use-differential-beam" I assumed that this always referred to the

[2018-11-05 08:19] darafferty opened #73 "Predict/ThreadPool problem: std exception detected: vector::reserve"
At the start of a GainCal step (from Prefactor), I get the error "std exception detected: vector::reserve". gdb gives the following info:

[code]
The command I used was:

`
DPPP gaincal.usebeammodel=True gaincal.parmdb=instrument_directionindependent msin.baseline="CS*&; RS*&; CS*&RS*" gaincal.caltype=phaseonly gaincal.usechannelfreq=True gaincal.type=gaincal gaincal.solint=1 gaincal.nchan=0 msin.

[2018-11-05 12:58] aroffringa commented on #68
I checked it again, but IDG's differential beam correction really corrects the differential part from phase centre to actual image position, and not from delay centre to image position. As far as I see, if you would phase shift to the FWHM, then apply the beam with DP3 (or the other way around -- doesn't matter), and then run wsclean with differential beam, your image should be off by a factor of

[2018-11-05 15:41] rvweeren commented on #68
Hmm, I need to double check.

[2018-11-06 15:35] aroffringa commented on #73
Thanks -- it looks like another forgotten propagation of nthreads (it really would have been easier implementing that by integrating it in the msinfo, as @tammojan also mentioned in the commit review), but I haven't tested whether this fixes it... Could you give branch vector-reserve-exception-#73 (e51cc66) a try?

[2018-11-06 15:49] darafferty commented on #73
Thanks, that seems to have fixed the error above, but now I get one related to casacore:

[code]

[2018-11-06 16:05] aroffringa commented on #72
I've added a leakage solver, but it's untested. Could you test it? It's in the branch leakage-solver (97d8e142b7dfb980597bda14baab0a2d613c9561).

You enable it by doing a dde solve, by adding a keyword `ddecal.leakageconstraint = true` to the parset.

[2018-11-07 11:00] aroffringa commented on #73
I ran your command on one of my mses/models and got an exception too, but it is different than yours. Yours looks a bit more scary, possibly having to do with calling casacore from multiple threads... But maybe now mine is fixed, yours could be fixed too. Could you check it? (in the same branch, commit 9b8cc6f1903674b44df46e56b9d4f20cf2f2a9c2 ).

[2018-11-07 11:31] darafferty commented on #73
Yep, the last fix seems to have worked -- thanks!

[2018-11-07 12:17] aroffringa commented on #73
Great (pfew!), thanks! I'll submit a pull request.

[2018-11-07 12:17] #73 closed

[2018-11-07 14:33] rvweeren commented on #68
@aroffringa, I had a look and WSClean-IDG seems to fully corrects for the array_factor on the new phase center with use-differential-lofar-beam. (and that correction is not(!) 1.0 in the current phase center of a phase shifted dataset)

It looks like the "use-differential-lofar-beam" just assumes -only- the element beam is taken out (that was also the original idea of the usage of this functionall

[2018-11-07 15:07] aroffringa commented on #68
Ok seems like I'm confused. I've confused REFERENCE_DIR and PHASE_DIR... It's true that WSClean doesn't use DELAY_DIR, as I mentioned, but it does use REFERENCE_DIR and not PHASE_DIR. DPPP uses DELAY_DIR, which is probably in most cases equal to PHASE_DIR, although they have slightly different meanings, and I'm not completely sure LOFAR's correlator matches these two in all cases.

REFERENCE_DIR d

[2018-11-08 12:21] aroffringa commented on #68
Hi @rvweeren -- it's good that I at least now understand what happens in DP3/wsclean :) but I'm not sure if there's anything to do? Do we need to change the way this behaves, or is all that's necessary covered by #60 ?

[2018-11-08 12:38] #71 closed

[2018-11-08 13:05] rvweeren commented on #68
We still miss the option to take out ("correct") the beam in NDPPP in an arbitrary direction.
According to @tammojan, NDPPP can only do it it in the original pointing center (since it is -hardcoded- to always be DELAY_DIR when you want to write out a beam corrected ms). So it should not be hardcoded, but have an option where the user can specify an arbitrary direction (BBS had the functionally to

[2018-11-09 14:29] tikk3r opened #76 "Incorrect phaseshifting from NCP to another position"
We just encountered this while working on an NCP dataset. Shifiting from the pole to another position gives problems. After shifting, all the headers indicate the right position: msoverview reports the location given to the phaseshift and FITS images have the right coordinates in their headers. However, the data is (in this case) 180 degrees off in right ascension.

The data was phase-shifted from

[2018-11-09 16:21] aroffringa commented on #68
Ok, that isn't hard to implement, I'll do that soon. I've implemented #60 first, since otherwise the applied beam would be different for new and old DPPPs, without having a way to know. With these keywords, it's also possible for wsclean to automatically determine the right (the use differential beam etc keyword would no longer be necessary, and wsclean will understand what the direction that is a

[2018-11-12 14:09] aroffringa commented on #76
We don't have resources to look at this.

[2018-11-12 16:31] revoltek opened #78 "sourcedb keyword with model_data?"
I have just compiled the last master from github and might be doing something wrong here, but when I try to:

msin = xxx.MS
msin.datacolumn = DATA
msout = .
msout.datacolumn = CORRECTED_DATA
steps = [sol]
sol.type = ddecal
sol.mode = rotation+diagonal
sol.maxiter = 500
sol.tolerance = 1e-3
sol.propagatesolutions = True
sol.usemodelcolumn = True <- **NOTE!**

I get this error:
`std exception detect

[2018-11-12 18:36] aroffringa commented on #78
Hi Francesco,

It seems I broke this recently (looks like commit 58cd557). Leiden is probably just an older build. I'll fix it -- thanks for reporting.

[2018-11-12 18:46] aroffringa commented on #78
Will be fixed after @tammojan merges the pull request.

[2018-11-13 09:56] tikk3r commented on #76
Ok, understandable, it's a very niche issue and probably inherent to the equations themselves more than DP3.

[2018-11-13 14:21] tammojan commented on #60
It would be good to register here also the name ('hamaker-arts') and version of the beam model applied.

[2018-11-13 14:55] aroffringa commented on #60
I think that's less crucial. When we have multiple versions of the beam, we could always add those fields without breaking backward compatibility (everything that has beam keywords is assumed to have the version of the beam that we have now). I think we're a bit overdesigning when we're adding those now already...

[2018-11-13 21:39] aroffringa commented on #60
Fixed in #77 .

[2018-11-13 21:39] #60 closed

[2018-11-13 21:53] aroffringa commented on #68
Hi @rvweeren, I've made the following changes in d5614ab (#80):
- Applybeam now has a keyword called 'direction' which let you manually set the direction to which the beam is applied
- If direction is empty, the default is now to use the phase centre instead of the delay direction.
- The applied direction is registered with column keywords (#60), and if you're trying to reapply the beam to a colum

[2018-11-14 08:49] #68 closed

[2018-11-14 14:39] aroffringa commented on #68
The trunk version of WSClean now also honours the keywords.

[2018-11-15 13:18] aroffringa commented on #40
The current version seems mature :). Release a version now?

[2018-11-15 13:31] revoltek opened #81 "in low S/N regime some stations are set to 0 and some other to high values"
when I solve diag+rot or diag in regions with noisy data **some** stations are set at 0, **some others** at very high values (the effect varies with different weights). Note that in many cases the first ~half of the stations are set to high values and the second half to 0.

See: https://www.dropbox.com/s/5qlfqi5bg9ol5pz/amp_polXX.png?dl=0

[2018-11-15 13:34] aroffringa commented on #81
Could you provide a testset for this? I'm not sure I can look at this any time soon.

[2018-11-15 16:28] rvweeren commented on #68
Correct, I think this addresses it (it is a nice improvement, this should save time in the future and prevents mistakes/confusion)

[2018-11-16 10:31] tammojan commented on #40
Yes please!

[2018-11-16 17:30] revoltek commented on #40
can we have a quick look at #81 before? that's a quite recurring problem and I think we can pin it down relatively quickly as it's very obvious

[2018-11-16 17:44] revoltek opened #82 "rename input"
some inconsistencies between gaincal and ddcal:
- the ddecal haparm option is cal parmdb=*h5 in gaincal
- the ddecal caltype is called mode in gaincal
- the "caltype" and "mode" names are not called in the same way (e.g. complexgain vs fulljones)

[2018-11-16 17:55] revoltek opened #83 "Minimum number of visibilities in solve"
In certain cases there are several stations flagged and the solver tries anyway to find solutions, obtaining noisy results. Can you add a "minimum number of baselines" option that if not satisfied flag the solution? Alternatively the same result can be achieved with a flagger step. Not sure what is the best approach.

[2018-11-17 16:16] tikk3r commented on #66
Posting this just for reference, it was indeed my environment/setup. It seems that a too new Boost version was causing the issue. I used 1.63.0 for my install, since that seemd to solve an unrelated problem in the past, and never thought about it again.

Running it with gdb showed the segfault was related to something regarding `boost::filesystem::detail::status` (that's all it gave). Going back t

[2018-11-18 08:33] aroffringa commented on #66
Thanks for letting us know, that's good to know. I think your boost 1.63 must have been installed incorrectly -- I use currently 1.67 without problems.

[2018-11-18 08:51] aroffringa commented on #82
These differences are mainly because of backward compatibility, so I don't think we should change them. In particular, the parmdb and h5parm parameters have different meaning, because gaincal can also write parmdb files, whereas DDECal cannot. So I don't mind they have different parset names.

Also, the algorithms understand the same mode/caltype names, e.g. both algorithms accept both fulljones (

[2018-11-18 08:53] aroffringa commented on #40
(reposting image here to keep it together with the bugreport -- @revoltek you can paste images in the ticket box :))
![image](https://user-images.githubusercontent.com/11645549/48670398-a7fdbf80-eb17-11e8-8c1a-d39cc2435248.png)

[2018-11-18 08:54] aroffringa commented on #81
(reposting image here to keep it together with the bugreport -- @revoltek you can paste images right into the ticketbox :-) )
![image](https://user-images.githubusercontent.com/11645549/48670423-f1e6a580-eb17-11e8-9bbc-9fd695009984.png)

[2018-11-18 09:13] aroffringa commented on #81
@revoltek Can you post the parset that gives trouble as well?

[2018-11-20 12:00] revoltek commented on #82
OK! Can you add h5parm option to the old gaincal too? So I can pension the parmdb everywhere and don't bother which algorithm I am using.

[2018-11-22 12:22] darafferty opened #84 "Problem writing new MS with column not named "DATA""
I am trying to copy a column to a new MS file with the following command:

`DPPP msin=L658734_SB088_uv.ndppp_prep_cal msout=test.ms steps=[] msin.datacolumn=CORRECTED_DATA`

but get the error:

[code]

I verified with casacore.tables that the CORRECTED_DATA column is definitely there. gdb suggests the problem is in MSWriter::createMS:

[code]

It works fine if I set `msin.datacolumn=DATA`, but not

[2018-11-22 13:53] revoltek commented on #81
I've tested it with:

msin =
msin.datacolumn = DATA
msout = .
msout.datacolumn = CORRECTED_DATA

steps = [sol]

sol.type = ddecal
sol.uvlambdamin = 300
sol.mode = diagonal
sol.maxiter = 500
sol.tolerance = 1e-3
sol.nchan = 1
sol.solint = 1
sol.propagatesolutions = True
sol.usemodelcolumn = True

[2018-11-22 14:31] revoltek commented on #81
NOTE: I don't see the problem with the DIE solver (same parameters)

[2018-11-22 14:38] revoltek opened #85 "Show propagatesolutions setting of DDE solver"
the value of the option "propagatesolutions" is not saved in the logs for the dde solver

[2018-11-22 14:57] aroffringa commented on #84
Thanks for the useful report @darafferty , somewhere in the implementation of #60 I assumed that the new column always had the name of the input column. I've now fixed this in the pull request.

[2018-11-22 15:01] aroffringa commented on #85
Thanks, added.

[2018-11-22 21:30] #85 closed

[2018-11-22 22:09] #84 closed

[2018-11-23 09:32] revoltek commented on #81
This is another example with and without propagate solution. Note that the problem is there (bottom left corner) even with the porp-sol=False, it is just much less problematic as it doesn't spread all over the osbervation.

![amp_polxx](https://user-images.githubusercontent.com/4458741/48936318-da8a2c80-ef0a-11e8-9c84-e806bea3c97c.png)
![amp_polxx](https://user-images.githubusercontent.com/4458741

[2018-11-23 13:51] tikk3r commented on #65
I'm running into the same problem again with the (almost) latest version, commit https://github.com/lofar-astron/DP3/commit/399ea74a71668b5d9f7ef387982f09718633bd14 (Nov. 14), except now with `complexgain`.
`tecandphase` mode seems to work, mostly. Two things are happening:

  - It seems somewhere during a `tecandphase` part all data past 5 hours are flagged (the whole observation is 14 hours)
  -

[2018-11-23 13:53] rvweeren commented on #65
This is also related to complexgain (not tecandphase)

[2018-11-23 14:01] rvweeren commented on #65
So somewhere there is still a bug in ddecal complex gain (and maybe some other modes as well)

(this was working in the past before NDPPP was split from the lofar build)

[2018-11-23 17:48] aroffringa commented on #65
The previous time this came because of NaNs in the DATA column. That's fixed now. Can it be that you have NaNs in the MODEL_DATA or weight column? I think that could still lead to the same problem, but if that's the case it would be easy to fix.

[2018-11-23 19:51] tikk3r commented on #65
I just checked the columns with a pyrap `getcol` and some `np.any(np.isnan(<column>))`. The DATA and CORRECTED_DATA_PHASE columns contain NaN values.

[2018-11-23 19:59] aroffringa commented on #65
Ok, but they shouldn't be a problem after the previous fix; but does MODEL_DATA or WEIGHT_SPECTRUM_SOLVE have NaNs or infs?

[2018-11-23 20:02] tammojan commented on #65
(The taql command `taql "select gntrue(isnan(MODEL_DATA)) from bla.MS"` should give you the answer to André's question efficiently.)

[2018-11-23 20:03] rvweeren commented on #65
There might be a few NaNs in here and there (but I am certain that this is a tiny tiny fraction). @tikk3r did you check the original input? (because the problem is that the complexgain bug results in NaNs, so NaNs in the output after the bug do not surprise me)

[2018-11-23 20:21] rvweeren commented on #65
@tammojan  One the original input (DATA) I get

[code]

Note, the solve here used as input "DATA" as the model columns (just to H5 template solution file). So MODEL_DATA does not exist on this ms.

[2018-11-23 20:30] rvweeren commented on #65
and for the WEIGHT_SPECTRUM I get

[code]

[2018-11-23 20:31] rvweeren commented on #65
Also I think this NaN/inf are all flagged, they are not present in the data that is used.

(because otherwise we could even not make an image)

[2018-11-23 20:32] aroffringa commented on #65
Is any of this info now for the MODEL_DATA col? You do solve from the MODEL_DATA col according to the parset, so I don't quite understand reinout's point of having no MODEL_DATA col...

The one difference that I can find is that the ~aug31 build sets any flagged data (model & input) to zero, while the new build sets the weight for flagged values to zero, sets nans to zero in the input, but doesn't

[2018-11-23 20:34] tikk3r commented on #65
The MODEL_DATA does not contain NaN values:
[code]

[2018-11-23 20:35] rvweeren commented on #65
@tikk3r was talking about a later solve (where we use MODEL_DATA, which is made with WSclean btw). However I think for the purpose of debugging it is better to go the first instance where it already goes wrong. That is here:

`DPPP msin=bla.ms msin.datacolumn=DATA msout=. msin.modelcolumn=DATA steps=[ddecal] ddecal.type=ddecal ddecal.maxiter=1 ddecal.usemodelcolumn=True ddecal.nchan=1 ddecal.mode=

[2018-11-23 20:38] rvweeren commented on #65
With this -first- complexgain solve (on DATA) we already get 50% of corrupted data. (the next complex gain we reach 100%, that one is one MODEL_DATA)

[2018-11-23 20:39] aroffringa commented on #65
Heh? You use the modelcolumn both as DATA and and as MODEL_DATA col? (What's the use of that?)

Ok but that then would definitely have NaNs in the ipnut model, and that would trigger the bug I was mentioning. Anyway I'll implement the fix, which should fix that first step at least, and then we'll see if it also fixes the 2nd one.

[2018-11-23 20:41] rvweeren commented on #65
(To make a template solution file where I can do some manual manipulation on)

[2018-11-23 20:44] rvweeren commented on #65
Well, but they are flagged. I can make an image of that DATA column that looks perfectly ok (impossible to make an image if even a single NaN is present that is not flagged)

[2018-11-23 20:44] rvweeren commented on #65
Or is the bug trigged because it inputs flagged model data then?

[2018-11-23 20:46] aroffringa commented on #65
The difference between old and new is that flagged nans didn't use to be an issue, but in the new version (before the above pull request) flagged (or nanflagged) nans in the modeldata causes an issue. That should no longer be the case after ad7b5b6.

[2018-11-23 20:47] aroffringa commented on #65
btw, wsclean treats nans as flagged data, even when they are not flagged, so being able to image a set doesn't mean it doesn't have nans...

[2018-11-23 20:50] rvweeren commented on #65
Aha that makes sense of these, that commit hopefully fixes it.

[2018-11-23 20:50] tikk3r commented on #65
Thanks for that. Will test and report back.

[2018-11-23 20:55] aroffringa commented on #14
Fixed by Tammo Jan in #88 :D. Nice feature!

[2018-11-23 20:55] #14 closed

[2018-11-24 13:40] revoltek commented on #81
I have at least one example where the DIE solver has the problem enhanced by the prop sol. Conclusion: both algorithm have the problem, propagate solutions makes it worse in both cases. Somewhat the magnitude of the effect is different if using DDE or DIE solver.

[2018-11-24 16:30] aroffringa commented on #81
I have analyzed it somewhat. It has to do with the following things:
- Certain solution interval have no unflagged visibility for a given antenna. That antenna is then correctly set to have no solution -- all fine so far.
- When in the next solution interval, that antenna does have unflagged visibilities, its initial value for the solver is initialized to '1', as it has no previous solution.
- At

[2018-11-25 11:52] revoltek commented on #81
Thanks for this analysis! Indeed most of the plots I showed are from the OLD correlator which used to set visibilities at ~1e-6 Jy. The new correlator is closer to real flux. A good workaround is to then divide all the visibilities of old datasets by 1e6, as you suggested. The first image you posted, however, is from a new dataset (note the bar on the right is ~200, not 1e-4. It would be good to u

[2018-11-25 15:20] aroffringa commented on #81
Yes, I think that's a good idea -- I'll implement that.

But regardless, I think the correlator should output Jy-like values.

[2018-11-25 19:12] #65 closed

[2018-11-26 00:03] revoltek commented on #81
There's still something unclear, I tried multiplying all visibilities by 1e6 (note now the solution values are close to 1). However, I still have the propagate solution thing.
![amp_polxx](https://user-images.githubusercontent.com/4458741/48986545-e0545d80-f116-11e8-9b5e-3f70c4bce0f0.png)

I was also thinking: in these cases ALL stations are wrong, either very high or very low, so I don't see how

[2018-11-26 10:09] maaijke opened #91 "Specify in output where metadata does not match"
I have 2 AARTFAAC MS with slightly diffrerent times (subsecond difference). I tried to copy the data for every column containing time information in the MS, however I still get the exception that the metadata differs.

In DPPP MultiMSReader.cc we hit this exception:

          if (!(near(itsStartTime, rdinfo.startTime())  &&
                     near(itsLastTime, itsReaders[i]->lastTime())  &&

[2018-11-26 11:23] #91 closed

[2018-11-26 11:34] aroffringa commented on #91
@maaijke : I've updated the DP3 version on Dawn at:

`/home/users/offringa/Software/DP3/build/DPPP/DPPP`

So you could use that version to test what's the problem in your MSes.

[2018-11-26 11:58] aroffringa commented on #81
@revoltek Hmm thanks, that's weird. I've now implemented to replace missing solutions by the average absolute gain over the stations (because they are(/can be) complex full-Jones solutions, I've decided to replace missing solutions by the average absolute gain instead of the normal average, because the normal average might be a very low number when the phase turns quickly over the stations. This d

[2018-11-26 12:01] aroffringa commented on #81
@revoltek Could you try that fix on the test-case that still diverged even when you normalized the vis beforehand?

[2018-11-26 18:11] revoltek opened #94 "BLAS : Program is Terminated. Because you tried to allocate too many memory regions."
In our new cluster (AMD powered, not sure if relevant) I find this:

MSReader
  input MS:       /localwork/fdg/zwcl0634/nodysco/tgts/mss/TC00.MS
  band            0
  startchan:      0  (0)
  nchan:          488  (0)
  ncorrelations:  4
  nbaselines:     703
  ntimes:         899
  time interval:  4.00556
  DATA column:    SMOOTHED_DATA
  WEIGHT column:  WEIGHT_SPECTRUM
  autoweight:     false
DDE

[2018-11-26 18:16] aroffringa commented on #94
I suspect this has to do with your BLAS installation on your cluster. I can't help you with that...

[2018-11-26 18:18] aroffringa commented on #94
Check your blas help, there's a FAQ on this item: https://github.com/xianyi/OpenBLAS/wiki/faq#allocmorebuffers

[2018-11-26 18:19] revoltek commented on #94
ok, thanks :)

[2018-11-26 18:20] #94 closed

[2018-11-27 09:35] tikk3r commented on #65
@aroffringa @rvweeren I think it works now. After running that first DDECal step there's 9% flagged data and the time axes in the solutions run for the entire 14 hours.

[2018-11-27 12:06] aroffringa commented on #72
If it says that you probably didn't compile the leakage solver version. You have to do a `git checkout leakage-solver` to go to the leakage-solver version, as it is not in master yet.

(You have to do `git checkout master` if you wish to go back to master later on)

[2018-11-27 12:31] aroffringa commented on #72
It shouldn't, all the relevant code is inside the executable binary, not in libraries. You're using the DDECal step? (it's not implemented in Gaincal)

[2018-11-27 12:50] revoltek commented on #72
ok, I think I've it. It's running now, thanks :)

[2018-11-27 15:21] revoltek commented on #81
Am I right that this change should have an impact only when propagate solution = True? Because I see some differences between old dp3 and this branch also when it is = False.

[2018-11-28 14:07] aroffringa commented on #72
That probably means the solutions were all NaN, but since the constraint sets the diagonal back to 1 every iteration, those values remain 1.

If you solve without the constraint, you get correct full-Jones solutions out? Did you make sure that the diagonal solutions are already approximately '1' because solving for leakage? (So you've previous done some kind of diagonal calibration).

I'm currentl

[2018-11-28 14:11] revoltek commented on #72
If I solve without constrain (same DP3) I get sensible results with off-diag values ~20 and diag values between 50 and 300. I can try to apply the diagonal solution before.

[2018-11-28 14:47] aroffringa commented on #72
Ah thanks. I suspect the solutions diverged... but maybe you can give me a small test-case so I can see what happens?

So you have not done some kind of bandpass calibration beforehand, as it seems(?) I didn't really count on that, I assumed that you wanted to solve for the off-diagonals *after* having gotten the diagonals to be about corrected. I think your usecase makes it a bit harder to solve

[2018-11-28 14:50] revoltek commented on #72
I'll be in ASTRON next week, we can discuss a bit the best strategy and what code could better implement it. In the meanwhile I'll try correcting for the BP in advance.

[2018-11-29 13:50] revoltek commented on #72
(I confirm that I get flagged solutions also after applying the bandpass. In the non-constrained run the solution range is 0.1-2)

[2018-12-05 12:21] tikk3r opened #95 "Applycal only reads "initial" ANTENA table and not "intermediate" from baseline selection"
Opening this here for reference with regards to https://github.com/lofar-astron/prefactor/issues/198.

A subselection of antennas is made using `msin.baseline`, to select only stations present in both the solutions and the MS they're applied to, but the subsequent applycal steps still read from the initial antenna table in the MS, causing a crash.

[2018-12-05 14:35] aroffringa commented on #95
Thanks. So something to reproduce this, would be to have a selection like this:
`msin.baseline=[CR]S*&;!UK608HBA*;!DE602HBA*;!FR606HBA*;!DE604HBA*;!DE601HBA*;!DE605HBA*;!SE607HBA*;!DE603HBA*`
...and an `applycal` operation with a solution file that has only the selected stations?
Do you also specify `filter.remove=true` somewhere?

[2018-12-05 15:41] tikk3r commented on #95
Yeah that should reproduce it. Here's the relevant bit in the parset:

https://github.com/lofar-astron/prefactor/blob/f45da871ea33fe0f3f7f2d5645c03a1b12453e2c/Pre-Facet-Target.parset#L191-L240

You say something interesting though. I noticed after your comment, that the filter part is commented out, but if I put that back in and pass `filter.baseline=[CR]S*&;!UK608HBA*;!DE602HBA*;!FR606HBA*;!DE604

[2018-12-05 15:46] aroffringa commented on #95
If you remove baselines in msin.baseline, the antenna table is not updated if you don't also have a `filter.remove=true` statement. I think it can be argued that it is supposed to work like this: if you don't
filter.remove antennas, the antennas are not updated in the measurement, but remain existing. Only when removed, they truly disappear.

So bottom line, if the problem is solved with `filter.r

[2018-12-05 15:56] tammojan commented on #95
The problem with the `filter=True` workaround is that it requires writing a new MS and reading that into DPPP, which is against the philosophy of DPPP.

The request could be implemented; some bookkeeping needs to be added. I've made bugs with this bookkeeping in the past, so I chose the 'easier' solution in ApplyCal.cc.

The code that would need to change is in OneApplyCal.cc::updateParms. There,

[2018-12-05 16:14] tikk3r commented on #95
@aroffringa makes sense, the way you put it.

@tammojan In this case the fact that filter requires a new MS to be written is not that problematic I think, as the `ndppp_prep_target` step of prefactor is already writing new measurement sets anyway. It reads the data from the input directory, applies the calibrator solutions and outputs the new MS to the working directory, but maybe @adrabent can co

[2018-12-05 16:50] adrabent commented on #95
@aroffringa
Maybe I am wrong, but if you unselect antennas with msin.baseline, e.g.,

`msin.baseline = [CR]S&*;!CS006HBA0*`

this antenna does not appear in the antenna list of the output measurement set. If you try to write to a CORRECTED_DATA column with that I am pretty sure DPPP will crash (what it actually should). I will try to reproduce that.

[2018-12-05 17:32] adrabent commented on #95
I can reproduce the removal from the antenna table with `msin.baseline` easily. So it works as expected. At least I don't see the `!`-selected antenna anymore if I call `msoverview=test.MS verbose=T`

[2018-12-05 17:33] adrabent commented on #95
@tikk3r
You are right. We can go back to `filter`, since we will always write new MS in such a case.

[2018-12-05 18:30] aroffringa commented on #95
So am I summarizing this correctly if I say that this _is_ a bug in DP3, but @tikk3r can work in this case around it by using the filter? Than the bug can stay open, but won't have high priority.

[2018-12-05 18:43] adrabent commented on #95
Indeed.

[2018-12-06 10:29] aroffringa opened #96 "DP3 always starts with a number of threads equal to NCPUs"
Reported face to face by @revoltek: even when explicitly setting the nthreads to 1, DP3 will still spawn a number of threads equal to the nr of cpus in the machine. These threads are not given tasks, so that indeed the %CPU usage is not above the requested number of threads, but it is nevertheless a bit confusing for debugging, and when launching e.g. 64 times a DP3 process with nthreads=1, the 40

[2018-12-11 12:26] adrabent opened #97 "additional direction table in DDEcal for h5parms"
Hi,

I encountered some kind of "inconsistency" in DPPP when handling h5parm in `DDEcal`.
If I use DDEcal in the mode `rotation+diagonal` I just get a solution table, like `phase000` with 120 times, 60 ants, 1484 freqs, 2 pol.
But If I just change to the mode `diagonal` in `DDEcal` I get a solution table, like `phase000` with 120 times, 60ants , 1484, 1 dir, 2 pol. Where does this direction table

[2019-01-10 14:50] aroffringa commented on #83
Just to be sure: This is for the DDECal task, is that right @revoltek ?

[2019-01-11 10:41] aroffringa commented on #83
@revoltek : I've implemented a feature to skip calibration of intervals with fewer unflagged visibilities. You can set it with the parset keyword ddecal.minvisratio=... , e.g. minvisratio=0.6 would require 60% unflagged visibilities in a set. I've done a quick test and it seems to work, but I don't have a good set with your problematic cases, so it would be good if you test it. It is committed to

[2019-01-11 11:23] revoltek commented on #83
Thanks for implementing this. Best is to have this in both solvers as the situation of having a few flagged data points can happen any time (e.g. I usually flag data below a certain elevation, on the elevation transition this create a few time slots where some antennas meet the elevation requirement while others don't, this fix should solve the problems by flagging those data points automatically)

[2019-01-11 12:35] revoltek opened #99 "Solver drifts away from chi square minimum"
@darafferty and I noticed that, with a higher tolerance, solutions show less outliers (the opposite of the expectation) - this has been tested on DDE solver diag+rot, 1 direction. In the image attached left is with tolerance 0.1, right is with tolerance 0.001. Also the problem outlined in #81 seems less prominent in this case. It seems that the solver drift away from the correct minimum if it has

[2019-01-11 14:01] aroffringa commented on #83
The non-DDECal does already have a `minblperant`. That's not enough for what you want, is it?

If the DDE option has been tested I'll try to implement the non-DDE.

[2019-01-11 14:07] revoltek commented on #83
I think your implementation of a minvisratio is a better parameter, more general, than the minblperant. Anyway, this is a secondary problem (I will keep using minblperant for now) but we might leave the ticket open to remeber to put it into DIE solver as well

[2019-01-11 14:46] aroffringa commented on #99
Interesting. I don't think this necessarily implies the solver drifts away from the least-squares solution. What you find is that the solutions are noisier, but solutions closer to the least-squares solutions are probably noisier than earlier solutions. It could very well be (and I think that is the case) that the squared-error of the solutions with lower tolerance is in fact smaller. It could als

[2019-01-15 13:14] revoltek commented on #83
@tammojan is the minblperant implemented in the DIE solver? I get a:
*** WARNING: the following parset keywords were not used ***
             maybe they are misspelled
    [sol.minblperant]

with parset:
msin =
msin.datacolumn = SMOOTHED_DATA
msout = .
msout.datacolumn = CORRECTED_DATA
numthreads = 0 # the pipeline will set this number
steps = [sol]
sol.type = gaincal
sol.uvlambdamin=300
sol.calt

[2019-01-16 12:39] revoltek commented on #99
@aroffringa @tammojan this seems to be a good workaround to preserve the propagatesolution=T, but it's still not clear to us why in those timestamps the solver has this strange behavior of pushing half of the antennas up and half down. If it will turn out that it is caused by "bad data", a possibility is to check if David's criterion is met, then flag the datapoint.

Maybe @maaijke is interested i

[2019-01-16 13:31] aroffringa commented on #99
@darafferty Looks indeed very good, and indeed such a constraint makes sense. Did you implement that constraint within DP3 DDECal? I'm happy to merge it if so...

In your solutions, weren't those 'blocks' of bad solutions caused by a flagged/bad timestep already solved by commit #93 (which was an effort to fix #81 ) ?

[2019-01-16 13:41] darafferty commented on #99
@aroffringa: Yes, I implemented it within DDECal -- I will submit a pull request for it (though it hasn't had extensive testing yet...).

I'm using the latest master, so I guess that fix did not help in this case -- not sure why. I think @revoltek also found a number of other times when it still occurs. If you like, I can provide the data and parset for the case above.

[2019-01-16 18:07] revoltek opened #100 "In DDEcal diag+rot flags bad solutions while diag does not"
A bad SB (I guess due to RFI) is treated differently if calibrated with diag or diag+rot. In the first case very bad solutions are saved in the h5parm, while in the second case most of the solutions are (correctly) flagged. Is there a different flagging criterion if using the two solvers? Note that the problem is on HBA data. An example MS is in cep3:~fdg/flagonlyrot.MS

parset:
msin = flagonlyrot

[2019-01-17 11:12] revoltek commented on #96
Maybe I am checking it in the wrong way, I see e.g. on htop that before running DPPP I've 17 threads alive 1 running (htop). After starting DPPP (with numthreads = 1) I've 87 threads and 2 runnings (DPPP+htop).

I tested it with:
msin = VirgoA_SB294.MS
msin.datacolumn = DATA
msout = .
msout.datacolumn = CORRECTED_DATA
numthreads = 1
steps = [sol]
sol.type = ddecal
sol.uvlambdamin = 30
sol.mode = r

[2019-01-17 12:53] adrabent opened #101 "Allow DPPP to apply losoto solutions of type phase_offset"
In `prefactor` we encountered the issue that DPPP can not be enforced to apply the phase_offset solutions from a clock-TEC separation operation in `losoto`:

In the h5parm the table is stored as such:
Solution table 'phase_offset000' (type: phase_offset): 60 ants
    Flagged data: 0.000%
    History: 2018-12-11 12:06:53: CREATE (by CLOCKTECFIT operation)

A minimum example of a `DPPP` parset:
`msi

[2019-01-17 12:56] revoltek commented on #101
I think the solution is to save that table as phase and not phase_offset in the h5parm. @maaijke can confirm if this is the right thing to do

[2019-01-17 14:11] rvweeren commented on #101
Agree with @revoltek (just save it in the proper format in losoto, no need to create a new type, we already have a phase type...)

[2019-01-17 14:18] aroffringa commented on #96
I ran your parset and see only one thread started, so I can't reproduce this issue. I also checked the thread pool structures again and don't see issues in DP3.

I think it might be because of different versions of e.g. lapack. Since it is only an issue with reporting and not with actual performance (i.e., numthreads=1 does use only one thread even for @revoltek ) I think this is fine, and I'll cl

[2019-01-17 14:18] #96 closed

[2019-01-17 15:05] aroffringa commented on #100
When you're saying "flag solutions", you really mean set the weight of solutions to zero in the hdf5, right?  I'm saying this because I think the solutions should be set to NaN. Is that indeed the case ? If so, then this is possibly a repeat of #44 .

The difference comes from the fact that the rotation constraint results a "derived" value (the rotation), which takes into account the input weights

[2019-01-17 19:58] maaijke commented on #101
Yes saving as phase makes sense

[2019-01-18 10:14] aroffringa commented on #101
Would this be fixed by solving #16 ?

[2019-01-18 10:31] revoltek commented on #101
@aroffringa I think no as the soltype of that soltab is set as phase_offset which is a non-standard soltype. The CT separation operation in losoto needs to be updated to save it as phase.

[2019-01-18 12:31] revoltek commented on #100
The SB I gave as an example has >60% of data flagged and I am expecting a large number of solutions flagged (nans), but using a 0.9 as minvis I get 26/210844 set to nan. Using 0.99 I get the same number.

[2019-01-18 12:33] revoltek commented on #83
The SB I gave as an example in #100 has >60% of data flagged and I am expecting a large number of solutions flagged (nans), but using a 0.9 as minvis I get 26/210844 set to nan. Using 0.99 I get the same number.

[2019-01-18 12:36] revoltek commented on #100
I notice that most of this cases can be solved with #83.

[2019-01-18 13:41] revoltek commented on #83
Actually even con minvis=1 I cannot find flags... (I am using the last update, I see the log:
  min visib. ratio:    1

[2019-01-18 14:01] revoltek opened #102 "Speed in ddecal"
The same diagonal solve in DIE solver and DDE solver (using MODEL_DATA and saving solution in h5parm) take a very different amount of time:

DDEcal: Total NDPPP time    1508.08 real     1508.19 user        3.75 system
DIEcal: Total NDPPP time     107.88 real       94.47 user        3.69 system

is there a fundamental reason why the same solve is so much slower with the new solver?

[2019-01-18 14:04] aroffringa commented on #102
Yes, DDECal is slower because it takes a more abstract approach. Moreover, it doesn't have a diagonal solve, so it's doing a constrained full-Jones solve to come up with a diagonal solution. The latter could be fixed, but DDECal will always be slower because of its more generic approach (and thus allowing solving in multiple directions).

That said, apart from the already mentioned speed-up in dia

[2019-01-19 10:14] revoltek commented on #83
One other thing that I notice is a possible problem with the uvlambdamin which in certain cases reach the threshold of the minvisratio and flags the solution because of that cut. This might not be very easy to solve...

[2019-01-20 11:08] revoltek commented on #83
It looks like on the other hand that the sol.uvlambdamin has an effect combined with minvisratio (as expected, i.e. long wavelengths are flagged because >60% of the baselines fall below the uvlambdamin cut, I also see a time dependency due to projection of baselines - so that looks correct)

[2019-01-22 16:07] tikk3r opened #103 "BucketCache: bucket <number> exceeds nr of buckets"
Not exactly sure what this is, but I figured this might be the best place to ask. When trying to run an 8 hour pointing on 3C 48 (full international array) through the calibrator parset of prefactor version 3.0, I encounter the following error during the `ndppp_prep_cal` step:

    std exception detected: BucketCache::getBucket: bucket 40 exceeds nr of buckets

For one it's `bucket 40` and for the

[2019-01-30 10:47] revoltek opened #104 "ddecal.approxchunksize = 1 -> segfault"
When I set ddecal.approxchunksize = 1 I obtain a segfault as soon as DPPP starts.

[2019-01-30 13:43] revoltek opened #105 "parameters of approximate fitter should be printed in the output"
Parameters like approxchunksize and maxapproxiter should be printed in the output (also when approxchunksize=0 and it is calculated internally).

[2019-01-30 15:16] #104 closed

[2019-01-30 15:21] aroffringa commented on #104
I pushed the fix by accident to master instead of on a separate branch, which then immediately automatically closed this bug. Anyway, this was easy to fix, thanks for reporting.

[2019-01-30 15:23] aroffringa commented on #103
This indicates that your measurement set is broken, for example because of a transfer failure. The exception is generated by the Casacore library, so DP3 cannot do much about it.

[2019-01-30 15:23] #103 closed

[2019-01-30 15:24] #83 closed

[2019-01-31 10:15] tikk3r commented on #103
Ah I see. Thanks for the explanation.

[2019-02-01 12:17] aroffringa opened #109 "DP3 can't be build in release mode"
The normal way of compiling release versions is by specifying `-DCMAKE_BUILD_TYPE:STRING=Release` on the cmake command line. This enables switches like `-O3`, `-march=native` and `-DNDEBUG`. However, when `-DNDEBUG` is added to the compiler switches, DP3 no longer works and crashes with the following error:

``
std exception detected: Empty or wrong MeasureHolder for asMPosition
``

this is thrown

[2019-02-01 12:56] revoltek opened #110 "Imcrease speed of h5parmpredict"
h5parmpredict is a necessary step to cleanup the dataset before facet imaging. The code seems extremely slow, no cpu seems to be used most of the time and after several days it did only few % of a full dataset (DDEcal is much faster in calibrating for instance). According to @aroffringa the bottleneck can be the predict part which should be made as fast as the DDEcal predict.

[2019-02-05 13:32] basvandertol opened #112 "Predict step does not reset LOFAR_APPLIED_BEAM keywords"
The predict step does not reset the LOFAR_APPLIED_BEAM_DIR and LOFAR_APPLIED_BEAM_MODE keywords for the output column.

As consequence it is not possible to run the ApplyBeam step on the newly generated data, if the output column was previously existing and ApplyBeam has already been applied once.

This is especially inconvenient when doing multiple simulations, reusing the same MS.
As work-around

[2019-02-05 14:12] aroffringa commented on #112
Oops, I just committed the fix to master, but anyway, it should be fixed now :). Could you verify it @basvandertol ?

[2019-02-05 14:31] basvandertol commented on #112
@aroffringa Yes, works for me, thanks!

[2019-02-06 15:46] revoltek opened #114 "undefined symbol: PyProperty_Type"
Hi,

compiling the latest DP3 on ubuntu everything works fine, but I end up with:
DPPP: symbol lookup error: /usr/lib/x86_64-linux-gnu/libboost_python-py27.so.1.65.1: undefined symbol: PyProperty_Type

when I try to run the program. Do you know what can cause this problem?

thanks

[2019-02-07 12:34] revoltek opened #115 "numthread=0 hangs"
With "numthreads = 0" DPPP doesn't stat, it stays hang at 0%. Correct behavior should be to use all CPUs.

[2019-02-07 12:36] aroffringa commented on #115
The documentation doesn't say that numthreads=0 means all threads. Just leave numthreads out to do that...

[2019-02-07 12:38] revoltek commented on #110
I implemented the cycle of h5parm predict by hand (predict, corrupt, subtract) and for a full dataset it takes ~24 hours. h5parmpredict is >100 times slower (not sure how slower as it never manage to finish)

[2019-02-07 12:50] revoltek commented on #115
I see, that was just the old behavior then

[2019-02-07 12:50] aroffringa commented on #115
That might be indeed. Anyway, I don't think this needs fixing so I'm closing this.

[2019-02-07 12:50] #115 closed

[2019-02-07 13:32] aroffringa commented on #114
Don't know, but likely your lib setup. I'm not a sysadmin, so you'll have to find such help somewhere else...

[2019-02-07 13:32] #114 closed

[2019-02-07 17:21] revoltek opened #116 "data with solutions with weight=0 are not flagged (in certain cases)"
In applycal: if I apply solution that are nan, then flags are propagated to data (data become flagged). If I apply solutions that are != nan but with weight = 0, then the flags seems not to be propagated to data (data are not flagged).

This is the output of the run that showed the problem:

MSReader
  input MS:       /localwork/fdg/coma/tgts/TC03.MS
  band            0
  startchan:      0  (0)

[2019-02-07 18:24] revoltek commented on #101
@aroffringa I think this should be closed as it's a losoto issue

[2019-02-07 18:25] revoltek commented on #100
@aroffringa this can also be closed

[2019-02-07 18:26] revoltek commented on #81
@aroffringa with last update of david and your previous fixes I think this is done.

[2019-02-07 18:37] #101 closed

[2019-02-07 18:38] aroffringa commented on #81
Great! Thanks!

[2019-02-07 18:38] #81 closed

[2019-02-07 18:38] #100 closed

[2019-02-07 21:09] revoltek commented on #99
@aroffringa this also is solved with the recent updates

[2019-02-08 00:07] revoltek commented on #116
Cannot reproduce, need more testing

[2019-02-08 00:07] #116 closed

[2019-02-08 00:07] #99 closed

[2019-02-08 09:07] aroffringa commented on #97
There are indeed a few issues with the solution formatting (and their weights). From what you describe that sounds really like a inconsistency, which is probably in the H5parm code. I'm not really familiar with the H5parm stuff (and don't have time to work on that), that was all @tammojan 's work, but he's not working on DP3. So I'm afraid this remains an issue until ASTRON assigns a new developer

[2019-02-11 09:30] tammojan opened #117 "Showsourcedb not moved to DP3"
Showsourcedb is a simple parser for sourcedb's, can be useful to check if you made a mistake with makesourcedb. Should be easy to move from LOFAR as well.

[2019-02-11 11:26] #117 closed

[2019-02-11 13:55] tikk3r opened #119 "Corrupt MS after gaincal usemodelcolumn=true without existing MODEL_DATA"
Accidentally ran into this today. I tried to run `gaincal` with `usemodelcolumn=true`, but forgot to predict a model to the MODEL_DATA column. Naturally DPPP crashed, telling me it doesn't exist, but the measurement set is now corrupted, throwing

[code]
with e.g. further DPPP commands, or msoverview. Not sure if this is an issue, or if I should just avoid solving against non-existent columns.

Us

[2019-02-13 23:08] revoltek opened #120 "Predict only unflagged vis?"
I was wondering if a possible large speed-up in the predict could come from predicting only unflagged visibilities. Maybe an easier initial implementation could be to skip completely flagged timestamps/channels/antenna.

[2019-02-15 15:20] revoltek commented on #44
This thing is driving me crazy :) the possibility of having weight != 0 and vals=nan in solutions creates a number of problems in losoto. Fixing them is possible (but it requires a major rewriting as this was not in the h5parm specification) + it would make the software way slower (every time one needs to check flags 2 large arrays needs to be parsed instead of 1). I'd really like to have DPPP con

[2019-02-17 11:38] revoltek opened #124 "std exception detected: Resource temporarily unavailable"
Since a couple of weeks I (sometimes) get this error when I do a predict. Can you give me any hint on where to look at?

MSReader
  input MS:       /localwork/fdg/LBAsurvey/c07-o05/3c380/3c380_t1204_SB249.MS
  band            0
  startchan:      0  (0)
  nchan:          4  (0)
  ncorrelations:  4
  nbaselines:     666
  ntimes:         899
  time interval:  4.00556
  DATA column:    DATA
  WEIGHT

[2019-02-17 12:56] aroffringa commented on #124
This could be caused by exceeding the number of threads that your system supports.

[2019-02-19 12:14] revoltek commented on #124
I asked to the sysadm but they said there's no limit to the max number of threads. It's also curious that it happens only, say, 50% of the runs.

[2019-02-19 12:26] aroffringa commented on #124
Can you run a backtrace from the exception?

That's done like this:

    gdb -arg DPPP yourparameters...
    catch throw
    run

And then if it crashes, type 'bt'.

[2019-02-20 12:31] revoltek opened #125 "Add smearing option to "predict""
one step of the LBA imaging pipeline is imaging sources in the first side-lobe to subtract them. I recently realized that the predict step of DP3 is predicting the wrong model for those sources as they are heavily smeared in the long baselines. It would be nice to have an option like smearing=True for the predict step that calculates the smearing and reduces the amplitude of the predicted source a

[2019-02-20 16:02] aroffringa commented on #125
Michiel Brentjens just came into my office asking the exact same thing :laughing:

[2019-02-20 16:12] rvweeren opened #126 "ddecal segmentation fault, too many open threads"
We are having in trouble getting ddecal to work, getting "OpenBLAS : Program will terminate because you tried to start too many threads." errors/segfaults, see all the way below.

Doing
[code]

Does not fix the issue. Running with `DPPP numthreads=1` works, but then ddecal is slow and uses only one cpu. We (Frits) tried to recompile OpenBLAS with `USE_OPENMP=1` but that does not make a difference,

[2019-02-20 16:25] aroffringa commented on #126
This is more an issue with OpenBLAS than with DP3; see e.g. https://github.com/xianyi/OpenBLAS/issues/1735 . One of the solutions I see there is to build OpenBLAS without multithreading. Because DP3 already does the multi-threading, blas doesn't need to be doing that on top of that to use all cpus. If multi-threading is enabled in blas, it apparently can't handle that it is being called from multi

[2019-02-20 16:27] tammojan commented on #126
As mentioned in the ticket that André refers to, you could try setting the environment variable `OPENBLAS_NUM_THREADS=1`.

[2019-02-20 16:28] aroffringa commented on #126
( @tammojan according to rvweeren's report that didn't work )

[2019-02-20 16:28] rvweeren commented on #126
@tammojan, we already tried` OPENBLAS_NUM_THREADS=1`, see my first post :-)

[2019-02-20 16:29] tikk3r commented on #126
Strangely enough, this issue does not pop up on all machines it seems. I found what @aroffringa refers to today as well, and it so happens to be that I'm indeed (still) using OpenBLAS 0.3.2. They reverted the change in newer version again, I will try updating to the latest version to see if this fixes it.

[2019-02-21 17:58] tikk3r commented on #126
Updating OpenBLAS (which reverts the above mentioned changes) has fixed the issue for us. This can probably be closed now.

[2019-02-21 17:59] #126 closed

[2019-03-06 21:38] adrabent commented on #97
I tested different solvers and basically any solver I have used creates a `dir` table, except of `rotation` and `rotation+diagonal`. Thus, I tried to dig into the code a bit. I don't have the impression this is an h5parm issue. Could it be that for those two solve modes the constraints overwrite the axes?

https://github.com/lofar-astron/DP3/blob/master/DDECal/RotationAndDiagonalConstraint.cc
(see

[2019-03-07 10:56] aroffringa commented on #97
I've changed this a bit and it might solve the issue; could you test the hdf5-rotation-direction-table branch? ( d4912528c4d58198b53c771f3f5e4f4b88bbe225 )

[2019-03-07 20:03] revoltek opened #128 "smooth constraint + flag"
It looks like that when the smooth constraint is active no all flags are properly propagated into the h5parm (e.g. fully flagged antennas)

[2019-03-08 10:55] pietrozucca opened #129 "NDPPP apply beam for non J2000 pointing"
As discussed with Tammo, we need a modified version of DPPP to abbey the beam corrections to planets and the Sun (non J2000 coordinates).
Tammo proposed a solution as soon as he as time.

Here the error on the terminal:
[zucca@lof001 MercuryTest]$ NDPPP applybeam.parset

uncaught exception ****

Backtrace follows:
#0  0x7ff1aac88a3f in LOFAR::Exception::terminate() at Exception.cc:89
#1  0x7ff1a39

[2019-03-08 11:43] aroffringa commented on #128
Indeed, the smoother would set those solutions to zero. Now, the smoother sets them to NaNs and that should propagate via the multidirsolver to the h5parm. @revoltek, could you test branch smoothing-flags ( 64de0d99792cb31945a82c11673416206d12ba85 ) ?

This is a partial fix that I think solves the problem for you, but what should really happen is that the weights themselves also get smoothed. For

[2019-03-08 11:46] aroffringa opened #131 "Smooth solution weights when using smoothness constraints"
See #128: currently, the solution weights are not changed by the smoothness constraints, but they should be smoothed as well.

[2019-03-09 15:02] revoltek commented on #128
It looks like it's working ok to me! Thanks

[2019-03-09 16:40] revoltek commented on #128
I did a ddcal test with multiple directions but I still see the data unflagged (and set to 1 for amp and 0 for phases)

[2019-03-09 16:46] revoltek commented on #44
I'd like to release a 3.0 of losoto soon, fixing this (e.g. adding a check that for every solution written in the h5parm that is nan then put the weight to 0) would allow me to clean up a lot of ugly patches I did to consider all cases in all operations.

[2019-03-09 21:26] #97 closed

[2019-03-09 21:28] aroffringa commented on #128
But it did fix it for single direction? Or nothing changed?

[2019-03-09 21:37] aroffringa commented on #44
I don't have time to fix this, because I'm not familiar with the solution stuff and don't want to invest in that. I hope that Tammo Jan takes this up at some point, but as you know he's not officially on DP3 right now.

Please don't litter the tickets with multiple requests to re-prioritize a request, that's not helping.

[2019-03-12 12:47] tikk3r opened #132 "explode step tries to open last MS twice?"
Some time ago in september @tammojan put in an "explode" step so that we could e.g. phaseshift the same measurement set to multiple directions at the same time. I think it worked when I tried it back then (it's been a while), but trying it again now it crashes for me with

[code]
or
[code]
with `msout.overwrite=True`. It's always the last measurement set in the list of `msout.name`s that's shown i

[2019-03-16 13:55] revoltek commented on #128
I tried it also in 1 direction and I still see the 0s in the soltab.

[2019-03-17 21:13] aroffringa commented on #128
Thanks for testing. I think I've found the issue now; I've run a small solve and I now see the values set to NaNs. It's committed to branch smoothing-flags ( e05c86e6ccc0c73b0523fcf78a0ec7df039b915a ), I'll ask TJ to merge.

[2019-03-18 08:03] #128 closed

[2019-03-19 03:53] revoltek commented on #128
I confirm it works ok, thanks!

[2019-03-22 12:59] amisk opened #133 "Error in HDF5"
Hi,

I am trying to do the initial subtract prefactor run, and this is what I get ...

[code]

I use a DP3 version that is maybe two months old. I created a symlink do have NDPPP, since prefactor has this hardcoded.

Any ideas?
Thx.

[2019-03-22 13:07] darafferty commented on #133
I'm not sure about the error above, but I may be able to help with prefactor: which version of prefactor are you using? I ask because the initial subtract pipeline of prefactor v3.0 no longer requires the h5parm.

[2019-03-22 13:08] aroffringa commented on #133
I think the mostly likely cause is mixing of HDF5 library versions, e.g. installing a newer version of HDF5 without recompiling DP3 or wrong headers with different library files.

[2019-03-22 13:20] tikk3r commented on #133
[code]
One of the above, or you might be missing the `target` solset (maybe it's named differently, if you used an older commit of prefactor).

[2019-03-22 14:07] amisk commented on #133
The installation of DP3 is from march 4th, prefactor is about a week older. I checked out the master branches and ran the calibrator and target pipelines.

[2019-03-22 17:25] amisk commented on #133
I tried something else. I was not sure which cal solutions have to be provided. Before, I provided the same as for the target pipeline, but in the results directory of that, there is also a solutions.h5. So now I supplied this file. Now target is apparently found, but I get `std exception detected: SolTab phase000 does not exist in solset target`.

[2019-03-25 08:27] darafferty commented on #133
Ah -- the initial subtract pipeline was changed on March 4th to make it compatible with the target pipeline, so indeed your version won't work. If you get the latest version of the initial subtract parset, it should work fine.

[2019-03-25 08:33] amisk commented on #133
I tried it yesterday on the previous data, and that did not work. I'm running the calibrator and then the target pipeline now again just to be sure.

[2019-03-29 15:25] aroffringa opened #134 "Predict using IDG"
Prediction using IDG would allow faster prediction of complicated fields, and allow the possible to include the beam at the same time. The goal is to connect it to DDECal (single-direction prediction is possible via `wsclean -predict ...`).

[2019-04-01 21:47] revoltek opened #136 ""direction" is ignored in applycal substep of predict"
I tried to run a parset with:
msin = xxx.MS
msin.datacolumn = DATA
msout = .
msout.datacolumn = MODEL_DATA
steps = [pre]
pre.type = predict
pre.sourcedb = xxx
pre.sources = xxx
pre.operation=add
pre.applycal.h5parm=xxx.h5
pre.applycal.direction=[xxx]

but the "direction" seems ignored. Also all the applycal substep options do not appear in the logs (they do not seem ignored as only "direction" spa

[2019-04-02 06:12] aroffringa commented on #136
applycal doesn't have a parameter `h5parm`, it's `parmdb`. The logic in Predict.cc is:
https://github.com/lofar-astron/DP3/blob/016e5e58f25d16443c51e44cfa5b432d4969f975/DPPP/Predict.cc#L141

    if (parset.isDefined(prefix + "applycal.parmdb") ||
          parset.isDefined(prefix + "applycal.steps"))
        setApplyCal(input, parset, prefix + "applycal.");
    } else {
        itsDoApplyCal=false

[2019-04-02 06:12] #136 closed

[2019-04-02 09:35] revoltek commented on #136
Thanks, I got confused with the h5parm/parmdb parameters. I will correct my code.

[2019-04-06 14:28] AlexKurek opened #137 "Error if compillef using -O2"
Dear Authors,

Im getting the following error if optimization flags  `-DCMAKE_CXX_FLAGS="-O2 -march=native -DNDEBUG"` were used:

Full LOFAR soft and BEAM are also compilled using such flags, but this is so far not causing any error.

Full log attached.
[pipeline-Pre-Facet-Calibrator-2019-04-06T14%3A14%3A15.log](https://github.com/lofar-astron/DP3/files/3050564/pipeline-Pre-Facet-Calibrator-2019-0

[2019-04-06 18:02] aroffringa commented on #137
Thanks for reporting, @AlexKurek . This is a know issue, described in #109. The cause is `-DNDEBUG`. I don't know why exactly, someone would have to analyze the problem more carefully. When I discovered optimizations weren't turned on, I did add `-O3` and `-march=native` manually in #107 ( 31fc93e ), so most of the optimizations are always turned on. I'll close this bug, if you want to comment fur

[2019-04-06 18:02] #137 closed

[2019-04-16 08:06] aroffringa opened #138 "Implement LOFAR beam in IDG prediction"
Code exists within wsclean to pass LOFAR beam a-terms to IDG, but it will need some changes because of the faceted approach.

[2019-04-29 21:39] rvweeren opened #139 "DP3 accepts non-existing msin.weightcolumn when solving"
I noticed that msin.weightcolumn can point to a column that does not exist in the MS and DP3 still runs a solve with that (without complaining). Not sure what precisely happens in this case, whether it then defaults to WEIGHT_SPECTRUM or assumes all weights are 1.0? I think the correct behavior is to give an error saying the weightcolumn does not exist.

[2019-05-03 08:54] revoltek opened #140 "Specify station names in coreconstraint"
It would be useful to have the possibility to specify which station to constraint in the core constraint with a list of station names. Currently one can specify only "meters from the core". This would slightly increase the complexity of the parset for users but it would make the code more flexible allowing strategies where once a station converged to good solutions it is then blocked in further it

[2019-05-06 08:06] #124 closed

[2019-05-06 09:05] aroffringa commented on #140
I've done this and made it actually a bit more generic than you are suggesting. I've added a parameter `antennaconstraint`, which takes a list of lists. To just specify one list of antennas that are to be constrained to have the same solution, you can do:

    antennaconstraint = [[CS002HBA0,CS002HBA1,etc.]]

You can also specify multiple lists:

    antennaconstraint = [[CS002HBA0,CS002HBA1],[CS0

[2019-05-06 09:11] #140 closed

[2019-05-06 09:14] tammojan opened #144 "Use antenna selection syntax where appropriate"
Wherever an antenna is specified, it would be good to use the Antenna Selection Syntax (https://casacore.github.io/casacore-notes/263). For example in the Antenna constraint (#143).

[2019-05-06 19:58] revoltek commented on #140
Impressive! Many thanks, I will test is as soon as I'm back from my trip.

[2019-05-14 08:30] #134 closed

[2019-05-19 05:51] revoltek opened #147 "ddecal.antennaconstraint issue with flagged antennas"
I think I see a problem when I "constraint" a flagged antenna, it seems that flags are propagated to all other antennas (also to those that are not constrained in my test).

[2019-05-24 18:56] rvweeren commented on #132
Running into the same problem as Frits, I also need to get this working as otherwise the I/O is killing me :-)

[2019-05-27 19:45] tammojan commented on #132
This is an issue when using the name `msout` for the split step. To work around this, please use a separate step with type `out`, e.g.
[code]

With `msout`, another output step is created after `mymsout`, but the `msout` step will do nothing.

This works, but revealed another issue, which I have fixed in #148.

[2019-05-27 20:11] tammojan commented on #132
While the workaround works, the actual bug is that an output step too much is created.

Perhaps @aroffringa can help me fix it: in [line 382 of DPRun.cc](https://github.com/lofar-astron/DP3/blob/master/DPPP/DPRun.cc#L382) a check is made if the last step is an output step. If it is not, it is assumed that an output step needs to be created called `msout.`. This is to make it unneccessary to specif

[2019-05-27 20:44] tammojan commented on #132
@aroffringa Never mind, I think I know how to do it without dynamic casting or polymorphism...

[2019-05-28 07:37] #132 closed

[2019-05-28 10:44] #147 closed

[2019-05-28 10:46] aroffringa commented on #147
Hi @revoltek ; it was one of the common "NaN" problems: the solver can't solve antennas that are completely flagged, and if they are part of the set, the mean of the set is also NaN. I've now taken care of this: antennas that don't have a solve solution are not added into the mean. In other words, this should be fixed now.

[2019-05-28 11:21] revoltek commented on #147
thanks a lot :)

[2019-05-29 09:10] adrabent opened #151 "H5parm exception when running DDEcal"
Hi,

I recently encounter an error in DPPP when trying to run DDEcal on CEP3. No matter what I do (changing basic parameters or whatever) DPPP always crashes with the following error:

[code]

I have not encountered such an issue before. The minimal example to reproduce the error is like this:

[code]

Changing the mode to `diagonal` or `phaseonly` does not change anything. I don't get this error

[2019-06-01 09:45] aroffringa opened #152 "Add object type to list"
Object lists should optionally have an extra column with the type. Can be a letter at first, an icon later would be nicer,  along with an icon giving the average colour of the object.

[2019-06-01 09:45] #152 closed

[2019-06-01 09:46] aroffringa commented on #152
Sorry, wrong project :)

[2019-06-02 09:19] aroffringa commented on #151
Thanks @adrabent . @tammojan , is this something you can fix?

[2019-06-04 12:54] pietrozucca commented on #129
Here you can find the specific error:

[zucca@lof001 MercuryTest]$ NDPPP applybeam.parset

**** uncaught exception ****

Backtrace follows:
#0  0x7f46a6d13a3f in LOFAR::Exception::terminate() at Exception.cc:89
#1  0x7f469f9e7946 in std::rethrow_exception(std::__exception_ptr::exception_ptr) at ??:0
#2  0x7f469f9e7973 in std::terminate() at ??:0
#3  0x7f469f9e7b93 in __cxa_throw at ??:0
#4  0x7f46

[2019-06-04 13:15] tikk3r opened #153 "Explode step filters wrongly?"
Trying to split out multiple directions and filtering stations using the `explode` step seems to do something strange with the filtering. Running
[code]
gives me a measurement set with only CS stations present, whereas running

[code]
gives me the expected output: a MS with only remote and international stations and the ST001 station.

[2019-06-07 10:13] rvweeren commented on #153
@tikk3r , what happens if you put the filter step last?

[2019-06-11 08:44] tikk3r commented on #153
Same result putting filter as second last (it has to come before the msout step).

[2019-06-11 10:23] revoltek commented on #144
As a quick workaround the antennaconstraint could ignore instead of return an error if an antenna doesn't exist. This would help the pipeline usage on datasets with different numbers of antennas.

[2019-06-13 10:05] aroffringa opened #154 "Constrain solutions over time to be near each other"
Introduce a new constraint that forces new solutions to be near the previous solution, using either some sensible heuristic for how large TEC jumps are allowed to be, or by manually providing the maximum TEC jump. Whenever the solutions converge to a value that is outside the allowed bounds, it is placed back onto the bound, and converges to its appropriate value later on.

The first solve is a bi

[2019-06-13 14:38] tammojan commented on #153
Thanks, I can reproduce this and have it almost fixed. Problem is I forgot to implement the method `addToMS` to the Split step. Expect a fix this week.

[2019-06-14 08:15] tammojan commented on #119
I cannot reproduce this issue; closing for now (reopen if the issue reoccurs).

[2019-06-14 08:15] #119 closed

[2019-06-14 08:38] tammojan commented on #151
I cannot reproduce this issue. On CEP3, the current best way to get DPPP DDECal running is:
[code]
Unfortunately this leads to a library error, which is solved by running `export LD_LIBRARY_PATH=/opt/cep/LOFARBeam/LOFARBeam-20190206/lib/:$LD_LIBRARY_PATH`.

[2019-06-14 10:33] rvweeren opened #156 "applybeam and concat"
In the example below, DPPP should correct/evaluate the station beam for each subband first in the msin list and then concat (now it just does one beam correction for the entire list of input ms which leads to large errors if the total bandwidth in the input list is large).

msin=[‘L693723_SB001_uv.MS', 'L693723_SB002_uv.MS', 'L693723_SB003_uv.MS', 'L693723_SB004_uv.MS', 'L693723_SB005_uv.MS', 'L69

[2019-06-14 10:40] tammojan commented on #156
For reference: it is possible to use `applybeam.usechannelfreq=True` to get the beam model closer to the frequency used when beamforming. I agree the correct frequency that the beam model should use in this case is the center frequency of each subband.

[2019-06-14 10:45] tammojan commented on #156
The way we combine different subbands into one MS by concatenating channels leads to situations like this. Ideally, we should store in the MS which subband each channel belonged to. This could be done by making a spectral window per original subband, but this will break a lot of software. Maybe a workaround could be to add a `LOFAR_BEAMFORMING_FREQUENCY` for each channel.

A less drastic solution

[2019-06-14 14:15] tikk3r commented on #153
Just gave the `splitaddtoms` branch a try and the above test case works now, awesome.

[2019-06-14 16:33] #153 closed

[2019-06-19 12:25] aroffringa commented on #133
@amisk is this still an issue?

[2019-06-19 12:29] aroffringa commented on #120
Sometimes it is necessary to predict flagged values, so in any case it would be optional.

I'm not sure it's worth to pursue this. In normal cases the nr of flagged values should be much less than 50%, so the benefit would be less than a factor of two. Combined with the increased logic that would be required in prediction, that increases the complexity, I'd say it's better to look for speed up els

[2019-06-19 12:36] aroffringa commented on #82
I think that's sensible. I've renamed the bug to reflect that this is about introducing the h5parm keyword.

[2019-06-19 12:38] tammojan commented on #120
I vote as well for a 'wontfix' here. It is already possible to skip predicting on totally flagged channels and antennas by using a filter step.

[2019-06-19 12:38] aroffringa commented on #72
I think our conclusion was that a leakage solver is not the right way to do this, so I'll close this bug.

[2019-06-19 12:38] #72 closed

[2019-06-19 12:39] #120 closed

[2019-06-19 12:41] aroffringa commented on #19
What direction should we go with this @tammojan ?

[2019-06-19 13:05] amisk commented on #133
Hey,

I did not encounter this since then... I think it's save to close this.

[2019-06-19 13:05] #133 closed

[2019-06-19 13:06] aroffringa commented on #2
First part of this ticket was fixed in #145 .

[2019-06-19 13:09] aroffringa commented on #133
Thanks!

[2019-06-20 07:21] adrabent commented on #151
I reloaded the modules on CEP3 and the issue has disappeared and I also can not reproduce this error anymore.

[2019-06-20 07:51] aroffringa commented on #151
Ok, good to know, thanks @adrabent !

[2019-06-20 07:51] #151 closed

[2019-06-20 09:35] aroffringa opened #157 "applybeamtomodelcolumn seems not to work in specific case of gaincal"
Jishnu was calibrating a set with gaincal, calibrating the visibilities from the `DATA` column of some measurement set msin, to a different msout. The msin also had a `MODEL_DATA` column which he was using as the model data for the calibration. He also used `gaincal.applysolution=true`, but I don't know if that's relevant.

We were expecting the `DATA` column of the msout to have the calibrated da

[2019-06-21 10:53] aroffringa commented on #1
Fixes in #159 .

[2019-06-21 10:53] #1 closed

[2019-06-22 20:51] mknapp55 opened #160 "Make fails with "error: ‘casa’ does not name a type""
I encountered a problem with DP3 when using the version that comes with the lastest KERN lofar package (see below).

[code]
I thought installing from source to get the lastest release of DP3 might solve the problem.  First, I tried using master and got the error below.
[code]
I reverted to the v4.0 tag and got almost the same error (below).
[code]
I installed the dependencies using KERN as per the

[2019-06-22 20:59] aroffringa commented on #160
I think your LOFAR beam library is too old. You need the latest from here: https://github.com/lofar-astron/LOFARBeam

[2019-06-22 21:35] mknapp55 commented on #160
That appears to have fixed both problems (installation and the error I saw when running the KERN version of DP3).  Thanks!

[2019-06-22 21:35] #160 closed

[2019-06-24 10:54] tammojan commented on #144
Sorry for the late reply. I think you're referring to a different issue here, since the bug I was referring is merely a syntacical issue. Could you open a new issue to describe what you want to have fixed? Ideally with a reproducible error?

[2019-06-27 14:07] #44 closed

[2019-07-09 14:01] revoltek opened #167 "segfault when pre-applying multiple h5parms"
I get a segfault when I try to preapply 2 h5parms in a dde solve. Might it be because the time-resolution of the two h5parms I want to apply are different?

This is my command:

DPPP /home/fdg/scripts/LiLF/parsets/LOFAR_dd-incr/DPPP-solTEC.parset
msin=mss-dd/TC08.MS
sol.applycal.steps=[myapplycal1,myapplycal2]
sol.applycal.myapplycal1.correction=tec000
sol.applycal.myapplycal2.correction=tec000
so

[2019-07-09 15:03] aroffringa commented on #167
Can you make a gdb stack backtrace?

[2019-07-10 08:05] aroffringa opened #168 "Segfault when finishing DDE solve with subtract"
MS has 5393 timesteps and I'm solving with `solint=30` -- maybe that causes an error?

Output + stack trace:
[code]

Input parset:
[code]

[2019-07-10 18:53] #168 closed

[2019-07-11 09:07] tammojan opened #170 "Incompatible with latest casacore"
As reported by @revoltek:
[code]

[2019-07-11 11:02] tammojan commented on #170
This is caused by casacore commit casacore/casacore@a157505, which is in the casacore master but not released yet. Probably DPPP needs to move from SimpleOrderedMap to the STL counterpart.

[2019-07-11 12:24] tammojan commented on #170
In fact the offending casacore change was released in 3.1.1. I have a PR almost ready.

[2019-07-11 14:56] tammojan commented on #170
Unfortunately this will require an update of casacore (though you can get a quick fix by manually updating the version in `casacore/casa/version.h`).

[2019-07-12 12:27] #170 closed

[2019-07-12 13:24] tammojan commented on #167
Hi Francesco, could you point me to the data you're using?

[2019-07-12 13:32] tammojan commented on #167
Never mind, found them.

[2019-07-12 13:54] tammojan commented on #167
I have reproduced the segfault and am working on this.

[2019-07-12 14:09] tammojan commented on #167
For reference; the issue does not occur when using one of the two applycal's. The stacktrace points to HDF5:

[code]

[2019-07-23 13:12] tammojan opened #174 "Boost include directories not properly passed through CMake"
As discovered in lofar-astron/lofar-deploy. Probably easiest to debug in the docker Bram is about to release.

[2019-07-24 11:59] #174 closed

[2019-07-25 08:18] tikk3r opened #177 "std exception in explode"
I was trying some things with the explode step, shifting to various directions, and sometimes I run into this error:
[code]
It was running on blocks of 10 SB concatenated together at 16ch/2s resolution. It ran fine on 5 directions. Trying 18 directions, this error occured on only 4 out of 25 blocks. I was thinking that maybe it would be a memory issue, since it only happens for a few, but I do not

[2019-07-25 08:25] aroffringa commented on #177
Blegh how ugly of casacore; I had a look at the casacore code, and this exception means that casacore tried to copy a directory, and that running `cp -r` returned an error. Could be for many things though; out of disk space, directory did not exist, output dir already existed, etc.

[2019-07-25 08:44] tikk3r commented on #177
Ah ok. I've relaunched the 4 that crashed and I'll keep an eye on memory and disk usage to see if something is reaching its limits.

[2019-07-30 11:56] aroffringa opened #178 "Issue when apply solutions during solve with uv selection"
Arianna found that a gaincal with a `uvlambdamin` and `applysolutions=true` causes all baselines that are filtered by the `uvlambdamin` are flagged. This is confusing, and inconsistent with how a separate applycal step works, as that step would just apply the solutions on those filtered baselines and keep them unflagged (if they are unflagged and the involved antennas succeed in calibration of cou

[2019-08-21 08:52] revoltek opened #179 "antennacosntraint + tecandphase possible issue"
When I run this command:
DPPP
[...]
sol.type = ddecal
sol.uvlambdamin = 100
sol.sourcedb = xxx
sol.h5parm = xxx
sol.maxiter = 400
sol.tolerance = 1e-3
sol.solint = 1
sol.nchan = 4
sol.stepsize = 0.2
sol.mode = tecandphase # phaseonly, complexgain, tec, tecandphase
sol.propagatesolutions = False
sol.approximatetec = True
sol.maxapproxiter = 400
sol.approxtolerance = 1e-3
sol.antennaconstraint=[[CS0

[2019-08-21 08:57] aroffringa commented on #179
Good find; this probably has to do with the order in which the constraints are applied inside DDECal.

The TEC constraint produces the TEC values, which is probably done *before* the antenna constraint does the antenna constraining. During the start of the last iteration, everything is still constrained fine. Then the solver makes a step, the TEC fitter fits & constrains the TEC values and stores

[2019-08-21 10:09] aroffringa commented on #179
Hmm it's not the ordering; I think it's caused by different flagging and different weights of the stations. This is what happens:

- Solver makes a step into a certain direction
- Antenna constraint is applied, making CS002,3,4,5,6,7 have the same phase solutions over all frequencies
- The TEC fitter is applied on those stations, with as input equal phase solutions. However, the TEC fitter also ge

[2019-08-27 08:20] tammojan opened #180 "Crash with antenna selection in msin"
DP3 crashes with `std exception detected: Antenna Expression: No match found for token(s) "!BLA*]"` for nonexisting stations.

Parset:
DPPP msin=leah.MS msout=leah2.MS msin.baseline='!BLA*]' steps='[]'

As reported by @revoltek

[2019-08-27 13:04] #180 closed

[2019-08-29 13:20] revoltek opened #184 "Baseline based averaging in the solver [speedup]"
A possible major speed-up in the DDECal could come from averaging short baselines in time/freq before sending them to the solver.

[2019-09-05 11:27] sabourke opened #187 "Better error message when LOFAR beam not compiled and applybeam is used"
I'm running prefactor and I get the following error:
[code]
Should it be looking externally for applybeam? Running DPPP with the parset below reproduces the problem. This is using DP3 v4.1. Any suggestions appreciated.
[code]

[2019-09-05 11:29] aroffringa commented on #187
You've probably not compiled with the LOFAR beam. Without the LOFAR beam, the applybeam step doesn't exist. The beam is available at https://github.com/lofar-astron/LOFARBeam .

We should report a nicer error message though, so I'll keep this open as a feature request to fix this error.

[2019-09-05 11:32] aroffringa commented on #177
Since this was a genuine error, but somewhat poorly reported by casacore (and fixed there), I'll close this bug here.

[2019-09-05 11:32] #177 closed

[2019-09-05 12:05] sabourke commented on #187
Cheers. I thought I had compiled with the beam but cmake was pretty stubborn.  Setting:
`-DLOFAR_STATION_RESPONSE_DIR=/opt/LOFARBeam-4.0/include -DLOFAR_STATION_RESPONSE_LIB=/opt/LOFARBeam-4.0/lib` would get cmake to declare it found the beam library but it would fail at linking. Manually adding `-L/opt/LOFARBeam-4.0/lib -lelementresponse -lstationresponse` worked.

In the end just setting `-DCMAK

[2019-09-25 17:38] rvweeren opened #190 "No valid solutions if station 0 is flagged in tecandphase mode"
DPPP does not produce valued solutions if the first station in the ms is fully flagged. This happens in ddecal tecandphase mode (in this case CS001HBA is 100% flagged). So somehow it is not allowed to have a fully flagged station 0 (almost like there is some referencing going with respect to station 0...).  After applying these h5 solutions (NaNs if I am correct) the entire ms gets flagged.

(this

[2019-09-26 07:13] tikk3r commented on #190
It's commit https://github.com/lofar-astron/DP3/commit/8cda70fd859dec2b39c6fd5b9bf207967f11305c to be specific.

[2019-09-26 07:24] tammojan commented on #190
Sorry, I don't understand. Does this commit introduce flagging everything when the first station is flagged?

[2019-09-26 07:29] aroffringa commented on #190
It's the version they use.

I think this is a known issue; ant 0 is used as reference antenna in the phase referencing. That's not necessary though...

[2019-09-26 07:31] tammojan commented on #190
Is this in DDECal?

[2019-09-26 07:31] aroffringa commented on #190
The second sentence would suggest so yes. Need some coffee TJ :) ?

[2019-09-26 07:38] tammojan commented on #190
Yes I do. The line where the phase referencing happens is [here](https://github.com/lofar-astron/DP3/blob/master/DDECal/TECConstraint.cc#L57):
[code]

So yes, we should do this..

[2019-09-26 07:41] aroffringa commented on #190
Hehe yes that's the one. But the referencing is in principe not strictly necessary, as the constraint will automatically do this. Without it, the solver could in theory come up with a TEC value that is quite non-zero for the core stations, but I think because of the number of core stations, they tend not to drift off. So the easiest solution might be to just removing the referencing. A more compli

[2019-09-26 07:48] tammojan commented on #190
Suggestions (that I could implement):

* Make phase referencing optional from parset
* Choose a reference antenna that is not totally flagged.

Regarding the second point: should the reference antenna be the one with the most non-flagged channels? Or the first antenna with more than 50% unflagged data? Or the first antenna with any unflagged data?

[2019-09-26 07:54] aroffringa commented on #190
It should at least be reasonably central, although that's only to interpret the solutions most easily. For the algorithm it doesn't matter.
Indeed parset keys to turn referencing off is a good idea, and probably the quickest fix. The reference antenna could indeed be selected e.g. by the first antenna (so it's core) that's 50% unflagged. I think currently you might lose an entire channel (for all

[2019-09-26 08:06] rvweeren commented on #190
Selecting the highest unflagged central station would be the best. (adding an option to the parset passes the ball to the user, then the user still needs some simple code to figure out which stations are not highly flagged, doable but less user friendly).

(most calibration software does automatically switch reference station when it is noticed the reference station is fully flagged, AIPS, casa ga

[2019-09-26 09:24] #190 closed

[2019-10-22 13:06] tikk3r opened #193 "h5parmpredict Invalid direction string"
Maybe I'm overlooking something obvious, but I get the following error when trying to use h5parmpredict:
[code]
My parset is
[code]

There is a direction called pointing in the h5parm (otherwise it crashes that it can't find the direction). An applycal step seems to have no problems with it. Am I missing something? The h5parm was made with DDEcal's `tec` mode, using commit https://github.com/lofar

[2019-10-22 13:20] aroffringa commented on #193
If I look at the h5parmpredict source code, it seems that directions requires a list of list. It apparently should allow things like h5sub.directions = [[patchA, patchB], [patchC]], applying solutions of direction 1 to patchA and B. However, I don't think that actually works, because I think it would look for a direction in the h5parm file called "[patchA, patchB]". So, that looks like a bug; @tam

[2019-10-22 13:23] tikk3r commented on #193
If I try `h5sub.directions = [[pointing]]` then it indeed looks for a direction `[pointing]` and fails with
[code]

[2019-10-22 13:31] aroffringa commented on #193
Ok, thanks. I think the directions parameter has never worked ; only leaving it empty would work.

Exception is generated here:
https://github.com/lofar-astron/DP3/blob/9782b077028fc1d6807d339bd219b9f70d6939a6/DPPP/H5ParmPredict.cc#L81

This used to be an "assert", and probably wouldn't work in a release compilation, so it might be that #159 has turned this check on. @tammojan can you look at this

[2019-10-22 13:54] tikk3r commented on #193
I see. I also tried leaving it empty, but that throws the error as well.

[2019-10-22 19:11] tammojan commented on #193
By default, DDECal writes directions in the form of their original specification, so if the h5parm was created with DDECal then it will have directions like `[patchA,patchB]`.

Not true. It works with h5pams created with DDECal (at least when I tested it).

[2019-10-22 19:12] tammojan commented on #193
@tikk3r What are you trying to achieve? The goal of H5ParmPredict is to subtract sources (from a skymodel) corrupted by the solutions in a parmdb. This doesn't make sense to me when you try to subtract the `pointing`, since you probably do not have a skymodel for that?

[2019-10-22 20:14] tikk3r commented on #193
@tammojan This is one of a number sources that I phaseshifted to and split out (long baselines, using the helpful explode step), before being put through a self calibration script. @rvweeren there is nothing special about the DDEcal steps in the script right?

I then made a sourcedb using the clean component list written out by WSClean, which I then wanted to try to subtract from the data it was s

[2019-10-22 20:20] rvweeren commented on #193
@tikk3r There is nothing special, but you do need to predict with the beam.

Note that the H5 was generated by ddecal, but, it contains only one direction (so it's not a true dde solve, more like normal di selfcal)

[2019-10-22 20:29] tammojan commented on #193
I think for this case a regular predict step will do the trick:
[code]

[2019-10-23 08:01] tikk3r commented on #193
Great, that ran fine. I just went by the name and did not realize the normal predict could do this as well. Thanks for the help.

[2019-10-23 08:01] #193 closed

[2019-10-24 07:57] aroffringa commented on #193
Ah okay, thanks. The documentation of h5parmpredict is nevertheless a bit poor on the `direction` property: could you fix that @tammojan , and include some of the info from this discussion here? If even I can't figure out from the source code how it works I think some explanation will be helpful ;).

[2019-10-24 08:25] tammojan commented on #193
Thanks, I improved the docs a bit.

[2019-11-13 12:37] rvweeren opened #197 "BLAS error tried to allocate too many memory regions"
We are getting this weird error BLAS error in Leiden.

"Program is Terminated. Because you tried to allocate too many memory regions."

For full output and settings used, see below

Increasing nchan=1 to nchan=4 makes the error go away. Somehow it seems to be an issue with the threading (with nchan=4 memory usage is very low so it  is not running out of RAM).

[code]

[2019-11-13 12:51] aroffringa commented on #197
There's a FAQ about this question here:
https://github.com/xianyi/OpenBLAS/wiki/faq#allocmorebuffers

It has to do with how you have built OpenBLAS, in particular related to how it is compiled with multi-threading support.

[2019-11-13 12:54] rvweeren commented on #197
@aroffringa thanks so it seems it was an issue on our side.

@tikk3r I guess we need to fix  this in the singularity image (surprised we did not run into this earlier).

[2019-11-13 14:17] tikk3r commented on #197
I'll look into it. Perhaps you can try changing `OPENBLAS_NUM_THREADS` and/or `OPENBLAS_MAX_THREADS` in the mean time, depending on which version of the image you are using.

[2019-11-14 11:28] rvweeren commented on #197
@tikk3r, both OPENBLAS_NUM_THREADS and OPENBLAS_MAX_THREADS are set at 1 in your singularity image.

[2019-11-14 17:18] tikk3r commented on #197
Yes that was intentional. Try setting it to a higher number (e.g. the numer of CPUs on the node).

[2019-11-20 14:06] tikk3r commented on #197
I can reproduce it and am rebuilding the images explicitely specifying more cores for OpenBLAS. In the mean time, a workaround appears to be to add a `numthreads = XX` to the parset. I tried 32, and it seems to work.

[2019-11-29 08:55] aroffringa commented on #197
Can this ticket be closed?

[2019-11-29 09:03] aroffringa opened #200 "Normalize visibility amplitudes"
Visibilities are outputted by the correlator with scales of 10^7-10^8. This makes calibration take more iterations and easier to diverge, and causes weights to have extremely low values. Like `msin.autoweight`, there should be a `msin.autoscale` property that scales visibilities within to Jy values within a few factors.

[2019-11-29 09:26] tikk3r commented on #197
I think so. It's not an DP3 issue in any case.

[2019-11-29 09:29] aroffringa commented on #197
Thanks.

[2019-11-29 09:29] #197 closed

[2019-12-11 16:13] aroffringa opened #201 "Use of faster direct FT predicter"
When predicting many sources, the direct FT method currently implemented is often a bottleneck. We should investigate whether a different predicter would improve things; e.g. something like Monte Blanc ([paper](https://arxiv.org/abs/1501.07719), [source](https://github.com/ska-sa/montblanc/tree/master/montblanc)). A faster CPU implementation would be important as well though.

[2019-12-11 16:18] aroffringa opened #202 "Support spectral structure in idg predict"
IDG predict might be a solution to predicting large number of sources, but the current implementation in DP3 doesn't support prediction of sources with varying spectra (spectral index + higher terms, or 'joined channel'-like).

[2019-12-11 16:52] #187 closed

[2019-12-13 14:54] flomertens opened #204 "In DDECal output H5Parm is not correctly overwritten when changing mode"
If I leave the cal.h5parm the same, but change the mode/solint/nchan ... the h5 file is not correctly overwritten and is not usable. This happens with DDECal, I didn't check if gaincal is equally affected.

[2019-12-13 16:04] aroffringa commented on #204
Thanks florent, that sounds quite plausible. Solution writing is @tammojan's domain so I'll assign him. Can you fix this TJ?

[2019-12-15 22:50] flomertens opened #205 "H5ParmPredict step sometime freeze"
I use H5ParmPredict to subtract source model in several directions. The parset is typically:

steps=[sub]
sub.type=h5parmpredict
sub.sourcedb=
sub.applycal.correction=fulljones
sub.applycal.parmdb=
sub.directions=
sub.operation=subtract

I work with many small 10 min snapshots MS, and so I need to make many call of DPPP and sometime a few DPPP call per node are running simultaneously (but always o

[2020-01-02 19:54] aroffringa commented on #205
@flomertens could you point me to the data and parset so I could try to reproduce it?

[2020-01-06 10:45] flomertens commented on #205
Hi Andre,

Thanks. Data is at:

/net/node131/data/users/lofareor/mertens/nenufar/cal_v2.0

e.g. SW00/N20190713h195700_SC00_SW00.MS

DPPP is called like that:

`DPPP ${subparset} msin=${ms} sub.applycal.parmdb=${ms}/${ddparm} sub.directions=${directions} sub.sourcedb=${sky_model} |tee ${log_file}`

subtract parset is:

[code]

ddparm is the instrument_ateam.h5 inside each MS

directions depends fro

[2020-01-06 14:42] aroffringa commented on #205
@flomertens Thanks for the testdata. I can't reproduce it, I've ran your parset with your model and solutions on SW00/N20190713h195700_SC00_SW00.MS and N20190713h195700_SC05_SW00.MS . I ran each command 100 times in sequence and none of them halted. Does it happen only on specific mses?

[2020-01-06 14:49] flomertens commented on #205
I don't think it happens for specific MS. It happens very randomly and very rarely. But it is a bit annoying as I run several subtract task in batch and if one of them freeze I need to restart the process for this specific MS.

It just happens on /net/node131/data/users/lofareor/mertens/nenufar/cal_v2.0/SW08/N20190813h195700_SC06_SW08.MS/. I kill the process, rerun the task and it went through wit

[2020-01-06 14:50] flomertens commented on #205
Thanks a lot for looking into it by the way :)

[2020-01-06 15:16] aroffringa commented on #205
Your backtrace is already quite helpful, but having a reproducable example makes things easier. I notice that in your runs it doesn't really matter in performance whether I use numthreads=1 or 20, and this problem seems to be a synchronisation-bug between threads causing a deadlock, so your case might be fixed by using numthreads=1.

The current way this is multithreaded is complicated, because th

[2020-01-06 15:18] flomertens commented on #205
Ok make sense, thanks ! I let you decide the fat of this report (close it or not for future reference), and switch to numthreads=1. If I fall again on this issue I will let you know.

[2020-01-09 16:17] #202 closed

[2020-01-13 11:46] aroffringa opened #207 "Make filtering a single station easier"
The `filter.baseline` syntax is quite complex, and obviously I never understood it even I tried it a few times. It's already complicated because baselines need to be specified that are to be kept, while it's also common to remove a few stations because they didn't behave properly. It would be helpful to have a `filter.excludeantenna` or something like that, that can be given one or few station nam

[2020-01-14 08:43] aroffringa opened #208 "Direct read text model files and deprecate sourcedb format"
Not sure why we still use the sourcedb format, but it's mostly just a pain.

[2020-01-15 10:47] flomertens commented on #205
The issue still persist when using numthreads=1. Looks like it will still use the ThreadPool anyway. Since the issue is that he is waiting to have the number of running tasks < number of threads, I worked around this issue by setting a large number of threads (e.g numthreads=200).

I have a test directory with a simple test that reproduce this issue here: /net/node131/data/users/lofareor/mertens/n

[2020-01-24 17:49] flomertens opened #209 "DDECAL: direction dependant solint"
The solution interval in which one can solve dependent very much on the SNR in this direction. When solving with very heterogeneous directions (e.g. a high SNR direction with a very bright source and lower SNR direction with a bunch of point sources) it would be nice to be able to have different solution interval for the different direction.

[2020-02-06 13:46] tammojan opened #211 "CMake finds IDG even if it's not there"
CMake reports `Image Domain Gridding libraries found` even when IDG was not installed anywhere in my otherwise clean Docker image.

Unfortunately I cannot reproduce this now, I'll look into it later.

[2020-02-06 15:44] tammojan opened #212 "Crash using TECConstraint in DDECal"
As reported by @revoltek. Using the latest master, the following parset causes a crash. Reproduced on a clean ubuntu 16.04 docker image with minimal requirements installed.

[code]

Below is the output of valgrind.

[code]

[2020-02-07 09:55] revoltek commented on #212
A couple of notes: everything works fine with "diagonal", the problem is with the tec (and tecandphase) solver. The problem is present also with data completely unflagged. The problem is present also using a skydb instead than MODEL_DATA.

The error can be reproduced with a minimalistic parset:
msin = 1sec.MS
msin.datacolumn = DATA
msout = .
steps=[sol]
sol.type = ddecal
sol.h5parm = test.h5
sol.m

[2020-02-07 11:05] tammojan commented on #212
Fixed by #213.

[2020-02-07 11:05] #212 closed

[2020-02-11 11:54] aroffringa opened #214 "Malformed parmdb leads to strange error message"
Handing a malformed parmdb to applycal, like this:
[code]
...results in the following error:
[code]
We should see if we can catch such wrong usage before calling parmdb, or otherwise rewrite the exception message to make users aware of what's going wrong.

[2020-03-02 11:23] rvweeren opened #217 "DP3 does not update REF_FREQUENCY"
DP3 does not update REF_FREQUENCY in /SPECTRAL_WINDOW when splitting. So using msin.startchan msin.nchan and writing to a new ms.

[2020-03-05 13:32] aroffringa commented on #217
Hi Reinout, thanks for reporting that. REF_FREQUENCY doesn't really have a strict definition -- it's supposed to identify what band it is. With mses that are combined from sbs and then split, it's not really clear what it should be. Is there software that uses this column?

And your solution would be to set it to the centre of the full spectral window (i.e., measurement set) ?  I guess we could do

[2020-03-06 00:40] rvweeren commented on #217
We use REF_FREQUENCY some of our surveys software to combining SB. We then have to look for missing SB to create a regularly spaced ms, that is done via REF_FREQUENCY. In our case we combined SB and later splitted again, that caused a splitted MS at 120 MHz (with 2 MHz bandwidth to have a REF_FREQUENCY of 144 MHz, which is very far away from the frequency span of the MS itself. More logical would

[2020-03-15 14:23] mhardcastle opened #218 "python3 build"
I'm trying to build DPPP in a native Python 3 environment, i.e. python == python3.7 and the appropriate boost libraries are all there. (In detail this is a singularity image based on Debian buster.)

With the default makefile I get linking errors of the form
[code]

This I think is a python 2/3 incompatibility. I can fix the compile errors by editing CMakeLists.txt to look for Python and explicitl

[2020-03-15 22:35] aroffringa commented on #218
Hi Martin. The transition to Python 3 is a headache... DP3 was indeed still depending on Python 2.7, since some LOFAR platforms don't have a properly working Python 3 environment. However, since Python 2.7 is now removed from Debian Bullseye it's time to to switch, so I've submitted #219 that fixes this.

Your errors are likely not because of errors in your DP3's cmake, but because you've got a ca

[2020-03-16 07:16] mhardcastle commented on #218
Hi André,

thanks for looking into this.

I did have other errors when I used buster's casacore and aoflagger -- but they went away when I built those myself from source.

If I get a chance I will try your PR in my Singularity build today.

Cheers

Martin

[2020-03-18 10:36] #218 closed

[2020-03-19 09:42] aroffringa opened #220 "Delay+TEC fitting in solver"
Add a constaint that fits for delay + TEC. This will be useful for LBA calibration, and is requested by e.g. @revoltek and @wllwen007 . It's reasonably trivial but requires a bit of 'administrative' changes to storing solutions and reading the parset options etc.

[2020-03-19 12:55] tikk3r opened #221 "Correcting array factor away from pointing center"
As in the telecon today, it would be nice to be able to correct for the array factor in a direction away from the delay or reference direction.

I see that #68 was similar to this, where the `direction` option was added. Prefactor already corrects for the beam at the pointing center (where array factor = 1 if I'm not mistaken). Attempting to take out just the array factor in another direction (on

[2020-03-19 13:50] aroffringa commented on #221
Thanks for the testset Frits. Just to make sure I understand everything, if I apply this parset:
[code]
You expect that it makes the beam applied at the new direction (the phase centre in this case), and when the beam was already applied, first undo that operation. Is that correct?

[2020-03-19 14:13] tikk3r commented on #221
I was thinking even simpler (but maybe it isn't), allowing it to apply an array factor through `applybeam.beammode=array_factor` if the new direction is not the pointing center and it has not been applied in another direction yet.

Your suggestion sounds like it would probably be the better and proper way to do it though, as then the element beam would also be corrected correctly in that direction

[2020-03-19 19:03] aroffringa commented on #221
I think I implemented what you want in #222 . There's a description there.

It also outputs to stdout when a beam was already applied and your applying a new one. In that case it should show:
```input data has already a beam correction applied: will be undone.```
in the applybeam step. When applying the beam for the first time, it shows
```  input data has no beam correction applied.```

[2020-03-19 19:12] aroffringa opened #223 "Specify desired output beam in applybeam step instead of exact operation"
The `invert` option of applybeam is confusing. To undo the correction of the beam (invert=false), one has to specify the same direction and mode that were specified during the application of the beam. Better would be to state what is desired as output (i.e.; fully corrected for beam, only for element, only for array, or not at all -- together with the desired direction). With the "new" keywords in

[2020-03-20 11:44] tikk3r commented on #221
Ah sorry, undoing the element beam isn't necessary. Just for my own confirmation to make sure I understand the beam corrections:
* element beam is due to the the target moving across the stationary telescope
* array factor is the effect of going down the primary beam away from pointing center and is 1 when applied to the pointing center

right?

What I tried to explain is the scenario where the be

[2020-03-20 12:04] aroffringa commented on #221
I think that what I implemented allows you to do this, in a fully correct way -- unless I'm missing something.

I agree on how you define element beam and array factor. The element beam includes the parallactic angle correction, and is important because of that (flux is otherwise suppressed when integrating over time) but is spatially smooth. The array factor is spatially less smooth.

If you now

[2020-03-20 12:14] tikk3r commented on #221
Yes fully agree on solution 1.

I interpreted this bit wrongly then:

So I should just apply the full beam in direction B and it will do the correct thing. What you describe indeed sounds exactly like what we wanted. I'll give it a try!

[2020-03-26 14:43] flomertens opened #224 "h5parmpredict with substeps applycal require applycal.correction even if it is defined in the substeps"
I have the following parset:

steps=[sub]
sub.type=h5parmpredict
sub.applycal.steps=[sub_apply_amp,sub_apply_phase]
sub.applycal.sub_apply_amp.correction=amplitude000
sub.applycal.sub_apply_phase.correction=phase000
sub.operation=subtract

Which return me the following error: "std exception detected: Key sub.applycal.correction unknown"

I would have assumed that applycal.correction wasn't require

[2020-03-31 13:22] revoltek opened #225 "segfault with sol.solint=0 sol.nchan=0"
setting
[code]

results in:
[code]

[2020-04-03 08:19] AlexKurek opened #226 "casa_python not detected if python-casacore compilled using Python 3"
If I compile or install `python-casacore` using Pythno 3 in Ubuntu 18, e.g. like below (or from pipy):

cmake says:

Is this important if later Im going to use Prefactor?

[2020-04-04 10:16] AlexKurek commented on #226
Im sorry, I was wrong. This error rises if I put to casacore (not python-casacore) cmake:
`-DBUILD_PYTHON=OFF -DBUILD_PYTHON3=ON`
If both are ON, the warning disapears.

[2020-04-09 10:35] aroffringa commented on #221
Any luck with this so far?

[2020-04-10 17:01] tikk3r commented on #221
Just gave it a shot on the small test measurement set, and I think it does exactly what it should. Large beam corrections, when imaging, without the correction and small correction when corrected beforehand with DP3 now. Thanks!

[2020-04-13 21:00] aroffringa commented on #221
Great, thanks for testing!

[2020-04-13 21:01] #221 closed

[2020-05-24 14:44] mhardcastle opened #231 "Build failure against recent casacore"
Build fails with

[code]

This is against a pull from the casacore github.

[2020-05-24 15:01] aroffringa commented on #231
True indeed. Casacore's regex interface changed slightly. I've submitted a PR to fix this.

[2020-05-24 15:37] #231 closed

[2020-05-24 15:40] mhardcastle commented on #231
Thanks for the lightning response. I will put DPPP back in my singularity recipe...

[2020-05-27 07:12] tammojan opened #234 "Feature: catch streaming data"
We could make a mode in which DPPP reads not from a Measurement Set, but from a stream of data from the correlator. E.g. SPEAD. Of course this also requires some non-streaming communication about metadata is necessary, e.g. through a Telescope Management (TM) system. We could use https://gitlab.com/ska-telescope/cbf-sdp-emulator for simulating the correlator output, and a mock TM interface.

[2020-05-27 08:21] #226 closed

[2020-05-27 15:06] aroffringa opened #236 "Predicting a model without beam should update beam keywords"
Beam keywords are stored with the DATA column (see #60 ). This helps enforcing / calculating the right beam at all times. However, prediction doesn't fully comply with this yet.

When predicting without the element beam, the output is already "corrected" for the element beam. Hence, the keywords should be updated to reflect that. A complicating factor is that WSClean (or other software) might be u

[2020-05-28 08:54] aroffringa commented on #236
This issue is related to #223 .

@revoltek and I discussed that the following change would solve this issue:

[2020-05-29 09:03] #236 closed

[2020-06-16 07:51] tammojan opened #243 "Add LICENSE, remove license headers"

[2020-06-17 11:38] lkrombeenc commented on #243
Fixed in PR #246

[2020-06-17 11:40] #243 closed

[2020-07-18 07:18] jmmaljaars opened #273 "Fix tApplyBeam integration test in DP3-EveryBeam on development branch"
When building DP3 against EveryBeam, the `tApplyBeam` --> `"Test with beammode=ELEMENT"` integration test fails. On the development branch, this integration test has been temporarily deactivated. However, before merging development into master this needs to be fixed.

Probably error originates from the call to EveryBeam: `antBeamInfo[st]->ComputeElementResponse` in `DPPP/ApplyBeam.cc`

[2020-07-27 15:01] AlexKurek opened #284 "Detection of EveryBeam"
As reported here:
https://git.astron.nl/RD/EveryBeam/-/issues/40#note_4085

If I install like this:

[code]
EveryBeam will not by detected dy DP3, unless I set `-DEVERYBEAM_LIB=${INSTALLDIR}/EverBeam/lib/` in DP3's cmake.

[2020-07-28 07:46] jmmaljaars commented on #284
Thanks again for reporting. This issue is only relevant for the DP3/development branch and we definitely will fix it once we get closer to a new DP3 release. As a work-around, just add the EveryBeam install directory to your DP3 CMAKE_PREFIX_PATH if you want to build DP3/development.

[2020-08-04 08:38] AlexKurek opened #290 "NDPPP process segfaulted when compiled by gcc 10.1"
Im getting such error on latest master (commit 56f3579). The error message seems a bit different than https://github.com/lofar-astron/DP3/issues/225
If I go back to gcc 9.3, the error disappears.

[pipeline-Pre-Facet-Calibrator-2020-08-03T13%3A43%3A54.zip](https://github.com/lofar-astron/DP3/files/5021030/pipeline-Pre-Facet-Calibrator-2020-08-03T13.3A43.3A54.zip)

[2020-08-05 16:32] aroffringa opened #294 "Unit tests issues"
The current development branch shows a few issues in its unit tests:

- [ ] tApplyCal.cc(334): Entering test case "test_gain" -- shows ```Invalid read of size 1``` in valgrind
- [ ] tApplyCalH5.cc(350): Entering test case "testampl1" -- shows multiple ```Invalid read of size 8```
- [ ] tApplyCalH5.cc(358): Entering test case "testampl2" -- idem
- [ ] tApplyCalH5.cc(366): Entering test case "testam

[2020-09-16 11:01] #273 closed

[2020-09-21 13:25] basvandertol opened #309 "cmake_minimum_required is too low for features used"
Commits 2401a19c and 194c2389 (development branch) introduce the usage of the cmake command `file(CREATE_LINK ...)`
This feature was only introduced in CMake 3.14, while the cmake_minimum_required version set in the toplevel CMake file is  3.9

Either do not use this feature, or update the minimum required version accordingly.

[code]

[2020-10-26 14:36] tikk3r opened #311 "Fulljones applycal flags international stations"
For widefield long baseline stuff we use killMS solutions at one point, which are fulljones. Before applying them they are converted to h5parm and the international stations are added with amplitudes of 1 and phases of 0, as they don't exist in the killMS solutions.

The resulting h5parm looks ok to me (amp and phase are 1 and 0 for international stations), but applying it results in all baselines

[2020-10-29 14:02] tammojan commented on #311
I don't think there are details. If you could provide a test MS + h5parm, we could dive into it.

[2020-10-29 15:12] tikk3r commented on #311
I have put a small chunk of the MS, the relevant h5parm and parset here: https://public.spider.surfsara.nl/project/lofarvwf/fulljones_mwe.tar

[2020-11-03 12:49] tikk3r commented on #311
After insightful discussion with @rvweeren, it turns out this is not an issue with DP3, but a misunderstanding of the cross-hand gains on my part. When adding dummy entries the gain amplitudes for XY and YX should be set to 0, not 1.

[2020-11-03 12:49] #311 closed

[2020-11-03 12:52] tammojan commented on #311
That is correct. Thanks for reporting back. Sorry, I hadn't noticed it yet in the files you sent. Glad it works now!

[2020-11-03 13:40] rvweeren opened #312 "save demixing solutions in HDF5 format"
The demixing solutions are still written in the old parmdb format. I would be nice to have them written in our standard H5 solution format (so that we can also process and plot them with losoto).

[2020-11-21 12:36] rvweeren opened #313 "problem with NaN flagging"
I noticed that DPPP (tested on v4.2) does only flag NaN when msout is set to a new measurement set. However, according to the documentation: "_However, a name '.' or a name equal to the name of the input MS means that the input MS will always be updated, even if no step is given. This is useful if only flagging of NaN-s in the MS needs to be done._"

DPPP msin=my.ms msout=. steps=[]  #  NaN data n

[2020-11-21 13:17] rvweeren commented on #207
I agree. For example, I always have to check the documentation to find the syntax for removing a station, it's too complicated for me to remember...

[2020-11-23 10:01] gmloose opened #314 "DPPP tries to open MS for write even when no changes will be made to it."
`DPPP` tries to open an MS for read/write, even when the MS will _not_ be modified. Here's an example:

[code]

The problem is that `msout=.` indicates that input and output MS are the same. You would like to be able to indicate that you do _not_ want to generate output, but that's currently not possible. Below is the relevant part of the Slack discussion on this topic (in Dutch):

[2020-11-27 15:13] aroffringa opened #315 "makesourcedb accepts models that cause DP3 to crash"
The following model is in the wrong format:
[code]
Running it through makesourcedb works fine, but using the resulting sourcedb inside DP3 causes DP3 to crash with:

Error: "Something went wrong while reading the source model. The error was: Regex: invalid regular expression component ( given (Unmatched \()"

Solution: makesourcedb should immediately report an error.

[2020-11-29 11:41] mhardcastle commented on #309
Agreed, please remove use of this feature, it breaks build compatibility with stock Debian buster base images.

[2020-11-29 13:09] aroffringa commented on #309
This is to be fixed in https://git.astron.nl/RD/DP3/-/merge_requests/295 .

@mhardcastle unless you need recent features, which I suspect is not the case, you don't have to use master - we generally recommend to use only released versions for 'production' like usage.

[2020-11-29 13:20] mhardcastle commented on #309
Yes, I have backed off to v4.2.0 now. Using master does allow me to find out what's coming down the track that might cause problems later!

[2020-11-29 13:21] aroffringa commented on #309
True -- and actually I highly appreciate bug reports before new versions are released :).

[2020-12-01 16:13] revoltek opened #316 "non-flagged solution for fully-flagged antenna in diag+rot"
I noticed non-flagged solutions in h5parm for antennas that are fully flagged when the diag+rot mode is used (diag seems to work correctly). The unflagged solutions are on the amp, phase and rot solTabs.

Unflagged solutions seems to be mixed with flagged ones (see image, ant 31,302,306 are fully flagged in the MS)

To reproduce the error:
lhd001:/data/scratch/fdg/forTJ
there's the MS, the DPPP co

[2021-01-13 08:21] revoltek opened #317 "lock on h5parm (read mode)"
DP3v4 allowed to apply the same h5parm to many datasets simultaneously, this is a major speed up in certain steps (2h -> 10m). Currently it seems that DP3v5 puts a lock also in read mode:

All but 1 run return:
[code]
No problem seen if the commands are run in series.

This is the command I'd like to run in parallel:
[code]

[2021-01-13 08:46] revoltek opened #318 "DP3v5 fails in concatenating datasets"
This command used to work ok in DP3v4:
`DPPP DPPP-concat.parset msin="[a399-a401_SB155.MS,a399-a401_SB156.MS,a399-a401_SB157.MS,a399-a401_SB158.MS,a399-a401_SB159.MS,a399-a401_SB160.MS,a399-a401_SB161.MS,a399-a401_SB162.MS,a399-a401_SB163.MS,a399-a401_SB164.MS,a399-a401_SB165.MS,a399-a401_SB166.MS,a399-a401_SB167.MS,a399-a401_SB168.MS,a399-a401_SB169.MS,a399-a401_SB170.MS,a399-a401_SB171.MS,a399-a

[2021-01-14 10:32] aroffringa commented on #318
Thanks for reporting Francesco, it's on the Schaap's team task list.

Maybe this is the result of https://git.astron.nl/RD/DP3/-/merge_requests/324
For the schaap team: If it doesn't exist yet, it would be good to add an integration test that combines measurement sets, including one that has a missing measurement set.

[2021-01-15 14:57] aroffringa commented on #317
This is Schaap ticket https://jira.skatelescope.org/browse/AST-328

[2021-01-17 11:10] aroffringa commented on #317
This is solved on master, via https://git.astron.nl/RD/schaapcommon/-/merge_requests/11 . It was caused by moving some of the functionality from DP3 to the Schaapcommon repository.

[2021-01-17 11:10] #317 closed

[2021-02-01 11:36] rvweeren opened #320 "makesourcedb default outtype to blob"
The default outtype for makesourecedb is "casa". According @tammojan we should always use "blob". For that reason, can the default be updated to outtype=blob instead of outtype=casa?

[2021-02-01 11:42] rvweeren commented on #208
Agreed, from the user point of view it makes no sense.

[2021-02-02 13:28] revoltek opened #321 "DPPP with no argument results in: malloc_consolidate(): invalid chunk size"
Just a cosmetic thing:

[code]

[2021-02-04 14:32] revoltek opened #322 "segfault with antenna selection"
the following command seems to give a segfault when the msin.baslines are set (otherwise it works)

`DPPP DPPP-solTEC.parset msin=mss/TC07.MS sol.h5parm=mss/TC07.MS/tec1.h5 msin.baseline='[CR]*&&;!RS208LBA;!RS210LBA;!RS307LBA;!RS310LBA;!RS406LBA;!RS407LBA;!RS409LBA;!RS508LBA;!RS509LBA' sol.antennaconstraint=[[CS002LBA,CS003LBA,CS004LBA,CS005LBA,CS006LBA,CS007LBA]] sol.solint=15 sol.nchan=8 numthre

[2021-02-04 14:40] revoltek opened #323 "EveryBeam not found by cmake"
I think that with the last update dp3 does not find anymore EveryBeam in a pristine system, this has been tested in ubuntu 20.04 with all default install directories. Until a couple of weeks ago EveryBeam was automatically found in /use/local/lib, now the compilation dies with:
[code]

[2021-02-04 15:16] revoltek commented on #323
works ok with the very last everybeam master

[2021-02-04 15:16] #323 closed

[2021-02-10 17:02] henedler commented on #318
I also find (slightly different) issues when concatenating with the newest DP3:

I want to concatenate measurement sets with identical time stamps in the most basic way:
[code]
The resulting measurement set has a reasonable size on the disk, but the columns are all zero.

[code]

Note that I also get the error described in [#321] after processing is finished, not sure if this is related.

[2021-02-12 10:04] henedler opened #324 "makesourcedb appends skymodel by default"
According to the [makesourcedb doucmentation](https://www.astron.nl/lofarwiki/doku.php?id=public:user_software:documentation:makesourcedb), the default behaviour when creating a sourcedb that already exists should be to overwrite this sourcedb.

However, it seems that by default, the skymodel is appended when running the same makesourcedb command multiple times.

[2021-02-12 11:06] revoltek commented on #324
In general I think the makesourcedb step should be removed and DP3 should read txt skymodels and do the conversion internally

[2021-02-12 13:15] henedler opened #325 "Wrong solutions from DDEcal"
Collecting the ddecal issues in the current DP3 master reported on slack:

When running a basic solve step, the resulting solutions are wrong in a variety of ways (not all of these may occur simultaneously):
- Amplitudes are very high (~1e16)
- Phases are either zero or very small
- The solver stops after a single iteration (only when solving on MODEL_DATA)
- solution weights are very small (only

[2021-02-16 11:23] #318 closed

[2021-02-22 20:54] tammojan commented on #325
The third and fourth bullet should be solved with 0cdf916 (which is on master now). It solves an issue with reading the model data column in ddecal.

We'll have another look at bullets 1 and 2.

[2021-02-23 13:24] henedler commented on #325
Hi, awesome news. With the minimal example from above, all bullet points appear to be fixed in the current master. Now, the solutions agree with DP3 v4.2.
I'll close the issue for now, if I encounter bullet 1 or 2 in the future, I'll reopen.

[2021-02-23 13:24] #325 closed

[2021-02-23 13:52] ErikOsinga opened #326 "Frequency not found in h5 file"
Hi,

I am trying to apply solutions with DPPP using the following command:

[code]

but I am getting the error that the frequency of my MS is outside of the frequencies in the solution file.
`std exception detected: Frequency 62767028.808594 not found in sol000/amplitude000`

Is there no extrapolation at all in DPPP?

[2021-02-23 13:56] aroffringa commented on #325
Great to hear, and thanks a lot for the testing, @henedler !

[2021-02-23 13:57] tammojan commented on #326
There is a bit of extrapolation at the beginning and end of the solutions. For example, if you have solutions at 10, 20, 30, 50 MHz and use nearest-neighbor interpolation (the default), DPPP will accept frequencies from 5MHz to 60MHz, i.e. it assumes that the cell width of the first and last cell are symmetric. See https://git.astron.nl/RD/schaapcommon/-/blob/master/src/h5parm/soltab.cc#L518

[2021-02-23 17:40] tammojan commented on #326
As discussed with Reinout and Francesco, we can extrapolate a bit further which will accommodate some common cases of averaging. Merge request here: https://git.astron.nl/RD/schaapcommon/-/merge_requests/24

[2021-03-02 10:51] henedler opened #327 "weights in h5parmdb"
I reported this issue before as part of #325, now I see it again - possibly unrelated to the other points in that issue.

When solving in mode 'rotation+diagonal', I get correct solutions, but the weights in the h5parmdb are wrong:
[code]
In my understanding, the h5parm weights are purely boolean flags of 1 or zero, yet here they are very small floats.
I see this behavior in the up-to-date DP3 as

[2021-03-11 07:13] tammojan commented on #322
Fixed by c71feae

[2021-03-11 07:13] #322 closed

[2021-03-15 09:00] tammojan commented on #322
Note that the issue was introduced in ddf77f7b4f389b07bfae345e6ad0e06db0d95121.

[2021-04-13 18:17] adrabent opened #328 "DPPP ddecal provides calibration solutions for flagged stations"
Dear all,

I am running `DPPP 5.1` on a recently observed data set where two stations, namely `DE602HBA` and `DE605HBA`, are fully flagged. If I try to run `ddecal` calibration within `DPPP` it creates solutions although stations are flagged.

I checked it with the count statement:

[code]
So clearly `DE602HBA` (59) and `DE605HBA` (62) are fully flagged.
But nevertheless if I run a calibration ste

[2021-04-14 14:24] adrabent opened #329 "Different behaviour of predict gaincal in DPPP 4.1 and 5.1.0"
Dear all,

I have a regular TGSS skymodel and want to run `DPPP` gaincal on it. I created a `sourcedb` file with

`makesourcedb in=target.skymodel out=target.sourcedb format='<' outtype=blob`

and I get the following response:

[code]
If I know run the following calibration parset with `DPPP 4.1`:
[code]

I get the following (expected) output:

[code]

If I do the same just using `DPPP 5.1.0` I ge

[2021-08-05 14:01] henedler opened #330 "ApplyCal flulljones - order of ph, amp soltab important?"
Hi,
I was puzzled for a while with a case where the combination of `fulljones` and `invert=False` in the ApplyCal step produced strange results. The weird thing was that my solutions appeared to be good, so applying them to the data (invert=True) lead to good results.

Eventually I figured that the only difference in the parsets is the order of the phase and amplitude soltab, so one time I used `c

[2021-08-23 10:26] henedler opened #331 "Solving on multiple MS - Table array conformance error"
Hi,
when solving against multiple MS with different frequency information, I get a 'casacore::TableArrayConformanceError'. Solving on multiple MS at once can be handy when choosing large solution intervals in frequency (or time) or when using a `smoothnessconstraint`.
@tammojan suggested that this is possibly a bug in DP3.

Here an example (1.7GB) including two MS files and the parset.
[https://cl

[2021-10-17 08:52] AlexKurek opened #332 "Required AOFlagger version"
Just a tiny report: trying to compile DP3 master  I got an error:

But it seems there is no 3.0.1 tag:
https://gitlab.com/aroffringa/aoflagger/-/tags
Maybe "3.0.1" is misspelled?

[2021-10-17 10:23] aroffringa commented on #332
3.0.1 is just the minimum -- 3.1 will also suffice, which has a tag.

Subminor versions aren't released or tagged. We increase the (subminor) required version in DP3 when we change the interface and DP3 requires that interface, so you don't get a compilation error with older versions. As we don't  immediately release a new aoflagger version, we don't immediately set the requirement to 3.1, so the

[2021-10-17 10:24] #332 closed

[2021-10-17 10:24] aroffringa commented on #332
Thanks for the report Alex. I've closed the ticket to keep track of tickets that require work, but if you have more issues feel free to reopen it of course ;).

[2021-10-18 08:57] AlexKurek opened #333 "Broken MS after [CR]S*& baseline remove"
Using DP3 master I did:
[code]
and later as @mhardcastle suggested:
[code]
and Im getting:
[code]
(this thread is copied form https://github.com/lofar-astron/prefactor/issues/292#issuecomment-944874566 )

[2021-10-20 07:49] tammojan commented on #333
I'm sorry, but I can't reproduce this with the latest DP3 master (also I'm not aware of any recent changes that could have influenced this code path). Here's the command I used:
[code]
I'll try to have a look at the MSs on the Herts cluster.

[2021-10-21 12:25] tammojan commented on #333
We had a look at the MS on the Herts cluster, and reproduced the behavior you report. However, the measurement seems to be broken already before we run DP3 on it:
[code]
already gives the error. Looking at the history table of this measurement set, no DP3 filter operation was run on it. Did some other (python) program try to remove stations?
[code]

[2021-10-28 07:58] #333 closed, assigned to nobody

[2022-01-15 10:42] flomertens opened #334 "On the last <timewindow> time slots of flagging statistics are recorded"
I use the following DPPP parset to pre-process NenuFAR data:

[code]
processing works fine, but I just realized now that only the last <timewindow> time slots of flagging statistics are written in the QUALITY table. The output for one processing is:

[code]

You see that the timewindow is 5358, smaller than the ntimes. And indeed when I inspect the QUALITY tables with aoqplot, I can only see the t

[2022-01-15 11:44] aroffringa commented on #334
I think you're right, seems like a bug that was introduced in 74ad5ad6e , #260. I'll prepare a fix...

[2022-01-15 12:02] aroffringa commented on #334
Should be solved after https://git.astron.nl/RD/DP3/-/merge_requests/616 is merged.

It happens when not all data fits in memory at once. In that case, the statistics will indeed only reflect the data of the last chunk that fitted in memory. Once the MR is merged this should be fixed. Sorry for this, I hope you didn't lose statistics from high res data because of this.

[2022-01-18 11:10] rvweeren commented on #330
So @henedler when invert=True order does not matter? and with invert=False which order produces the correct result?

[2022-01-18 11:29] henedler commented on #330
Hi @rvweeren, I did not test the case `invert=False` in combination with the order `[phase000,amplitude000]`, but I would expect that the behavior is similar.
I think this could be more a case of an ambiguous documentation than a bug, my initial understanding was that one provides two soltab names in ApplyCal and DP3 figures internally which one is the amps/phases of the fulljones. But it might be

[2022-01-18 11:52] rvweeren commented on #330
@henedler thanks for the info. I had a look here ﻿ [https://www.astron.nl/citt/DP3/steps/ApplyCal.html#](https://www.astron.nl/citt/DP3/steps/ApplyCal.html#)

"_The name or names of the H5 soltab. Currently only used when correction=fulljones, in which case soltab should list two names (amplitude and phase soltab)_"

That does indeed not suggest to a user that the order is relevant. So if soltab=[

[2022-01-20 13:32] #109 closed

[2022-02-07 13:10] aroffringa commented on #209
This has been implemented in the direction-iterative solver algorithm. See https://www.astron.nl/citt/DP3/steps/DDECal.html#solutions-per-direction .

[2022-02-07 13:12] aroffringa commented on #209
For reference, there are several associated MRs the last two were:
* https://git.astron.nl/RD/DP3/-/merge_requests/607
* https://git.astron.nl/RD/DP3/-/merge_requests/600

[2022-02-07 13:12] #209 closed

[2022-03-18 13:06] jwpetley opened #335 ""Illegal Instruction" error on Intel Xeon CPU E5-2670 with "sandybridge" architecture"
I am trying to switch my LOFAR work to a machine in Durham which runs Intel Xeon CPU E5-2670 with a "sandybridge" architecture. I was formally using the University of Hertfordshire machine which ran  Xeons (Gold 6130) with a "haswell" architecture. The singularity images that I was using were built using `MARCH='x86-64'` and `MTUNE='generic'` which should allow for the image to work across most ma

[2022-03-18 14:02] aroffringa commented on #335
Hi @kwpetley . Are you overriding (also) the default CMake settings of DP3? The cmake default of Dp3 is to add `-march=native` to the compiler, so if you don't disable that, Dp3 would be compiled (only) for the machine it is build on. The normal way to disable this is to add -DPORTABLE=True to cmake. This disables that flag. Did you try that?

[2022-03-18 14:05] jwpetley commented on #335
Hi @aroffringa. Someone else has messaged me about this so I am currently remaking the image with -march='sandybridge' in the cmake command. I will try that and then also try the -DPORTABLE option if that doesn't work

[2022-03-18 14:41] jwpetley commented on #335
Hi - Adding a -DTARGET_CPU=$MARCH to the cmake command within the singularity image fixed the issue! So I'm happy to close this issue here and make that change to the singularity recipe repository

[2022-03-18 14:41] #335 closed

[2022-03-18 14:41] aroffringa commented on #335
Ok, thanks for the update!

[2022-04-19 23:49] Joshuaalbert opened #336 "assert hdr.checkMagicValue fails"
I'm trying to do a `ddecal` step with a simulated measurement set. The MS was created using casa, and filled using wsclean.

## Questions
1. What is the cause of this error code?
2. What would be a suitable method to create (not fill) an MS that DPPP would like?

## Reproducing

Create a MS with CASA and then run this command:

[code]

I'm getting a magic number error at this line https://github.c

[2022-04-20 06:17] tammojan commented on #336
This means that the skymodel is not recognized. Plain text skymodel loading was introduced in DP3 after the version you're using. It may help to convert the skymodel to a blob sourcedb with `makesourcedb in=single-source.skymodel out=single-source.sourcedb outtype=blob`. Alternatively, build the master branch of DP3 (we haven't made a release with skymodel support yet).

[2022-04-20 14:30] Joshuaalbert commented on #336
Thanks Tammo Jan!

[2022-04-20 14:33] #336 closed

[2022-04-26 07:56] Joshuaalbert opened #337 "OOM for simple ddecal"
I'm running a ddecal step on a measurement set with a single timeslot and get an OOM in `DPPP 4.1`.

## Questions
1. Is `ddecal` well-supported still?
2. Why would I get an OOM with a 500GB ms with 1TB ram?
3. Do you have advice on how to overcome this OOM?

The command:
[code]
The MS is 508GB.
There is 1TB RAM.
The sky model is a single point source:
[code]

Parameters printed out before crashing

[2022-04-26 08:54] aroffringa commented on #337
Hi Joshua.
1. Yes, ddecal is well supported and part of a few production pipelines.
2. Not sure -- as far as I can see, your command should be okay, so then you've probably hit some kind of bug. DDECal is tested reasonable well, but apparently something is different in your MS then in our test-cases.
3. If you can provide a minimal test-case, we can try and fix the issue. Also, if you aren't yet,

[2022-05-05 20:57] #337 closed

[2022-05-05 21:21] Joshuaalbert opened #338 "How do memory requirement scale for DDECAL"
I'm looking to run a `ddecal` step on visibilities from an array with N=2048 antennas, M=8000 channels, with K=20 point sources in the sky model.

* How do memory requirements scale with `N, M, K`, and `num_threads` for a `solint=1` and one solution per `H` channels?

[2022-06-30 10:26] anshusolar opened #339 "times and coordinates derived from UTC could be wrong by 1s or more"
While using DP3, I am getting this warning:

I am using DP3 to predict the parameters for calibration.

predict.parset file contains:

[code]

L242128_SB100_uv.dppp.MS is VirA MS.

[code]

[2022-06-30 10:51] tammojan commented on #339
This warning has to do with the casacore measures data. Please update them, either system-wide or as a user.

The command that fixes it in our Docker container is:
[code]
If you don't have root access, you can download the measures data from ftp://ftp.astron.nl/outgoing/Measures/WSRT_Measures.ztar and untar it somewhere. Then in `~/.casarc`, set the location to the new measures data. For example,

[2022-08-04 11:26] anshusolar opened #340 "Error while applying Calibration usign DP3"
Hi,

While doing this step:

[code]

I am getting this error:

`std exception detected: distributed parm facade not available`

The output of gain calculation step shows nothing unusual:

[code]
This problem is only with the one day observations. The same steps work if I use some other MS files on another day.

[2022-08-04 12:26] tammojan commented on #340
Wow, that's a very bad error message. Could you check that the observations of day one do contain a subdirectory '`instrument`' with calibration solutions?

[2022-08-04 12:36] anshusolar commented on #340
These are the content of instrument folder inside the calibrator MS file:
`DEFAULTVALUES  NAMES  table.dat  table.f0  table.f0i  table.info  table.lock`

[2022-08-04 12:38] tammojan commented on #340
Could you perhaps share (part of) the MS and instrument table somewhere? E.g. on CEP3, DAS5, DAS6, or the EOR cluster, or if it's small enough on a shared drive somewhere?

[2022-08-04 12:39] #339 closed

[2022-08-04 12:40] anshusolar commented on #340
I will share it on CEP3 and let you know.

[2022-08-05 15:49] anshusolar commented on #340
The data is in "/data/scratch/kumari/data" in lhd001 folder.